.about-section1{
    padding-bottom: 70px;
    @extend %commonCircles;
    &:before{
        width: 1200px;
        height: 1160px;
        position: absolute;
        top: -160px;
        left: -200px;
        opacity: .5;
    }
    &:after{
        display: none;
    }
    &-inner{
        @extend %padding_style_1;
        padding-bottom: 0;
    }
    .title{
        @extend %title_style_1;
        font-size: 60px;
    }
    .stats-box{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        .stats-item{
            margin-right: 100px;
            position: relative;
            span{
                display: block;
            }
            .numbers{
                font-size: 60px;
                font-weight: 800;
                color: $primary_color_light;
                line-height: 60px;
                margin-bottom: 10px;
            }
            &:after{
                content: '';
                width: 2px;
                height: 40px;
                background: $border_color;
                position: absolute;
                right: -50px;
                top: 20px;
            }
            &:last-child{
                margin-right: 0;
                &:after{
                    display: none;
                }
            }
            .text{
                color: $black;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
    .image-box {
        text-align: right;
        img{
            border-radius: 20px 0 0 20px;
        }
    }
}

.what-we-do{
    padding: 50px 200px 70px;
    position: relative;
    overflow: hidden;
    &:before{
        content: '';
        background-image: url(/images/orange-circle.svg);
        @include bgimagecontain;
        width: 1200px;
        height: 130%;
        position: absolute;
        top: 0;
        right: -400px;
        z-index: -1;
        opacity: .7;
    }
    .title{
        @extend %title_style_1;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        @extend %poppins;
    }
}

.product-milestone{
    background: $black_dark;
    &-inner{
        @extend %padding_style_1;
        padding-bottom: 100px;
        height: 840px;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            width: 100%;
            height: 260px;
            position: absolute;
            bottom: 0;
            right: 0;
            background: linear-gradient(0deg, rgb(0 0 0 / 86%), rgb(0 0 0 / 24%));
        }
        svg{
            .a {
                fill: $secondary_color;
                stroke: $color7;
            }
            .b{
                fill: $white;
            }
        }
    }
    .title{
        @extend %title_style_1;
        color: $white;
    }
    .milestone-box{
        margin-top: 50px;
    }
    .show-full{
        @include centerdiv;
        top: 98%;
        background: $secondary_color;
        border-radius: 10px 10px 0 0;
        padding: 15px 15px 20px;
        width: 200px;
        text-align: center;
        cursor: pointer;
        svg{
            position: absolute;
            @include centerdiv;
            top: 0;
        }
        span{
            font-size: 16px;
            font-weight: 600;
            color: $white;
        }
    }
    .show-less{
        @extend .show-full;
        display: none;
        top: 99.5%;
        svg{
            top: -30%;
            transform: rotate(180deg);
            left: 44%;
        }
    }
    &.show{
        .product-milestone-inner{
            height: auto;
            &:before{
                display: none;
            }
        }
    }
}

.our-business-section{
    @extend %padding_style_1;
    .title{
        @extend %title_style_1;
    }
    &-inner{
        margin-top: 50px;
        border-bottom: 2px solid $border_color;
        padding-bottom: 70px;
        &:last-child{
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    .advertisers-box {
        display: flex;
        align-items: center;
        .text-section{
            width: 30%;
            .title{
                font-size: 26px;
            }
        }
        .image-section{
            width: 70%;
            .logo-list {
                display: flex;
                flex-wrap: wrap;
            }
            .logo-item{
                width: 33.333%;
                line-height: 8;
            }
        }
    }
}

.management-section{
    @extend %padding_style_1;
    background: $light_color;
    &-inner{
        margin-bottom: 50px;
        &:last-child{
            margin-bottom: 0%;
        }
    }
    .title{
        @extend %title_style_1;
    }
    .title-text{
        text-align: center;
        display: block;
        margin: 40px 0 30px;
        @extend %title_style_1;
        font-size: 26px;
    }
    .members-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-item{
            width: 25%;
            padding: 12px 12px 20px;
            &-inner{
                background: transparent linear-gradient(179deg, rgb(255 255 255 / 0%) 0%, rgb(255 255 255) 100%) 0% 0%;
                box-shadow: 0px 5px 10px -8px rgb(0 0 0 / 10%);
                border-radius: 10px;
                padding: 30px 20px;
                text-align: center;
                height: 100%;
                @include transition(.3s all);
                span{
                    display: block;
                }
                .name{
                    margin: 15px 0 5px;
                    font-size: 18px;
                    font-weight: 700;
                    color: $black;
                }
                .position{
                    font-size: 14px;
                    @extend %poppins;
                    margin-bottom: 15px;
                    min-height: 60px;
                }
                .read{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $primary_color_light;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 0;
                    background: transparent;
                    width: 100%;
                    span{
                        margin-right: 10px;
                    }
                    svg{
                        fill: $primary_color_light;
                        stroke: transparent;
                        width: 26px;
                        @include transition(.3s all);
                    }
                }
                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 0px 5px 10px -8px rgb(0 0 0);
                    .read svg{
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    .modal{
        background: rgb(0 0 0 / 80%);
    }

    .modal-content {
        background: transparent;
        border: none;
        border-radius: 0;
        margin-top: 70px;
        margin-bottom: 70px;
        &-inner{
            border-radius: 20px;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            text-align: center;
        }
        .image-box {
            flex: 0 0 35%;
            background: $primary_color;
            padding: 30px;
            color: $white;
            display: flex;
            .image {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            span{
                color: $white;
                display: inline-block;
            }
            .name {
                font-size: 18px;
                font-weight: 600;
                margin-top: 12px;
            }
            .position {
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 30px;
            }
            .social-url{
                color: $white;
                font-size: 24px;
            }
        }
        .content {
            flex: 0 0 65%;
            background: $white;
            padding: 40px;
            line-height: 1.7;
            p:last-child{
                margin-bottom: 0;
            }
        }
        .close-btn {
            background: transparent;
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 37px;
            border-radius: 50%;
            padding: 0;
            font-size: 16px;
            margin: 28px auto 0;
            border: 2px solid $white;
        }
    }
}

.investor-section{
    @extend %padding_style_1;
    .title{
        @extend %title_style_1;
    }
    .title-text{
        @extend %title_style_1;
        text-align: center;
        display: block;
        margin: 30px 0;
        font-size: 26px;
    }
    .investor-images{
        margin-top: 60px;
    }
}