.affle-life-section{
    @extend %commonCircles;
    &-inner{
        @extend %padding_style_1;
        padding-bottom: 120px;
    }
    .content-box{
        max-width: 600px;
        margin: 0 auto 70px;
        text-align: center;
        .title{
            @extend %title_style_1;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
        }
    }
    .image-box{
        max-width: 800px;
        margin: 0 auto;
        &-inner{
            position: relative;
            text-align: center;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0px 0px 20px rgb(0 0 0 / 45%);
            @include transition(.3s all);
            img{
                width: 100%;
            }
            .play-btn{
                @include centerdiv;
                background: $secondary_color;
                width: 80px;
                height: 80px;
                line-height: 80px;
                border-radius: 50%;
                cursor: pointer;
                @include transition(.3s all);
                box-shadow: 0px 0px 20px rgb(0 0 0 / 45%);
                svg{
                    fill: $white;
                    width: 30px;
                    height: 30px;
                    padding-left: 3px;
                }
            }
            &:hover{
                transform: scale(.95);
                .play-btn{
                    background: $primary_color;
                }
            }
        }
    }    
}

.popup-content{
    background: rgba(0 0 0 / 90%);
    width: 100%;
    height: 100%;
    @include centerdiv;
    display: none;
    z-index: 1;
    &-inner{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .close-popup{
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        svg{
            fill: $white;
            width: 30px;
            height: 30px;
        }
    }
}

.culture-section{
    background: $light_color;
    @extend %padding_style_1;
    .title-section{
        text-align: center;
        margin-bottom: 70px;
        .title{
            @extend %title_style_1;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
        }
    }
    .box-section {
        display: flex;
        flex-wrap: wrap;
        .box{
            width: 33.333%;
            padding: 25px;
            img{
                border-radius: 20px;        
                box-shadow: 0px 6px 20px -10px rgb(0 0 0 / 40%);
                margin-bottom: 30px;
            }
            .image-name{
                text-align: center;
                font-size: 24px;
                color: $black;
                font-weight: 600;
                @extend %poppins;
            }
        }
    }
}

.join-team-section{
    &-inner{
        padding: 180px 100px;
        text-align: center;
        position: relative;
        overflow: hidden;
        &:before{
            content: '';
            @include bgimagecontain;
            @include centerdiv;
            width: 100%;
            height: 480px;
            background-image: url(/images/join-team.png);
            z-index: -1;
        }
    }
    .title{
        @extend %title_style_1;
        margin-bottom: 30px;
    }
    p{
        font-size: 18px;
        margin-bottom: 40px;
    }
    .btn{
        @extend %poppins;
        font-weight: 400;
        border-radius: 0;
        letter-spacing: .5px;
        padding: 12px 30px;
    }
}