%padding_style_1{
    padding: 70px 100px;
}

%title_style_1{
    color: $black;
    font-size: 50px;
    font-weight: 800;
}

%commonCircles{
    position: relative;
    overflow: hidden;
    &:before,&:after{
        content: '';
        @include bgimagecontain;
        position: absolute;
        z-index: -1;
    }
    &:before{
        background-image: url(/images/blue-circle.svg);
        top: -770px;
        right: -470px;
        width: 1240px;
        height: 1300px;
        opacity: 0.7;
        transform: rotate(-15deg);
    }
    &:after{
        background-image: url(/images/orange-circle.svg);
        width: 700px;
        height: 700px;
        top: 400px;
        left: -220px;
        transform: rotate(-110deg);
        opacity: .5;
    }
}

.innerpage-padding{
    padding-top: 76px;
}

.popup-triggered{
    position: fixed;
    .header-section{
        position: absolute;
        z-index: -1;
    }
    .affle-life-section{
        height: 100vh;
    }
    .popup-content{
        display: block;
    }
}

.accordion{
    .accordion-item {
        background: transparent;
        border: none;
        border-bottom: 2px solid $light_color;
        padding: 20px 0;
        &.active{
            .accordion-content{
                display: block;
            }
        }
        &:last-child{
            border-bottom: none
        }
    }
    .accordion-header{
        button{
            @extend %title_style_1;
            background: transparent;
            font-size: 22px;
            padding: 15px 0;
            &:hover{
                color: $primary_color;
            }
            &:focus{
                box-shadow: 0 0 0;
                outline: 0;
            }
        }
        [aria-expanded="true"]{
            color: $primary_color;
        }
    }
    .accordion-button:not(.collapsed) {
        background-color: transparent;
        box-shadow: 0 0 0;
    }
    .accordion-content{
        display: none;
    }
    .accordion-body{
        padding: 15px 0;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 40%;
                margin-right: 80px;
                position: relative;
                margin-bottom: 30px;
                border-bottom: 1px solid $border_color;
                padding-bottom: 20px;
                &:nth-child(even){
                    margin-right: 0;
                }
                &:after{
                    content: '';
                    background-image: url(/images/download.png);
                    @include bgimagecontain;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 30px;
                    height: 30px;
                    z-index: -1;
                }
                &:last-child{
                    margin-right: 0;
                }
                a{
                    color: $black;
                    font-size: 18px;
                    font-weight: 600;
                    padding-right: 70px;
                    display: block;
                    @extend %poppins;
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}

.pagination {
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    .pagination-item {
        width: 45px;
        height: 45px;
        line-height: 42px;
        border-radius: 50%;
        display: inline-block;
        background: transparent;
        border: 2px solid $border_color;
        text-align: center;
        margin-right: 5px;
        font-weight: 700;
        font-size: 20px;
        color: $border_color;
        @include transition(.3s all);
        &:hover,&.active{
            background: $secondary_color;
            border-color: $secondary_color;
            color: $white;
        }
    }
}

.awards-section{
    @extend %padding_style_1;
    background: $light_color;
    .title{
        font-weight: 800;
        font-size: 50px;
        color: $black;
    }
    .awards-box-section{
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: center;
        .title{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
            @extend %poppins;
        }
        .awards-img{
            min-height: 105px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span{
            font-size: 15px;
        }
    }
    .all-awards a{
        font-weight: 700;
        color: $primary_color;
        font-size: 16px;
        svg{
            transform: translateX(10px);
            @include transition(.3s all);
        }
        &:hover svg{
            transform: translateX(20px);
        }
    }
    .work-place {
        margin-top: 50px;
    }
}

.ad-campaigns-section{
    @extend %padding_style_1;
    padding-bottom: 100px;
    &-inner{
        display: flex;
    }
    .content-box{
        width: 65%;
        padding-right: 70px;
        .title{
            font-size: 38px;
            color: $black;
            line-height: 1.4;
            font-weight: 700;
            margin-bottom: 40px;
        }
    }
    .image-box{
        margin-top: 20px;
        .image{
            position: relative;
            &:before{
                content: '';
                width: 80%;
                height: 92%;
                background: $border_color;
                position: absolute;
                left: -20px;
                top: -20px;
                z-index: -1;
            }
            img{
                border-radius: 0 5px 5px 5px;
            }
        }
    }
    .btn{
        background: $primary_color_light;
        border-radius: 0;
    }
}

.newsletter-section{
    padding: 0 100px;
    &-inner{
        background-image: url(/images/newsletter-bg.png);
        @include bgimagecover;
        padding: 100px 80px;
        border-radius: 10px;
    }
    .title{
        font-size: 36px;
        color: $white;
        font-weight: 600;
    }
    p{
        color: $white;
        opacity: .8;
    }
    .newsletter-form {
        display: flex;
        margin-top: 40px;
        .form-control{
            margin-right: 15px;
            max-width: 60%;
        }
    }
}