.contact-section1{
    @extend %commonCircles;
    &:before{
        top: -510px;
        right: -350px;
        width: 1180px;
        height: 915px;
        opacity: 1;
        transform: rotate(-30deg);
    }
    &:after{
        width: 700px;
        height: 700px;
        top: 540px;
        left: -320px;
        transform: rotate(230deg);
        opacity: 1;
    }
    &-inner{
        @extend %padding_style_1;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 140px;
        .form-section{
            width: 67%;
            padding-right: 70px;
            @extend %poppins;
            .contact-form-inner{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-end;
                .form-group {
                    width: 48.5%;
                    margin-bottom: 25px;
                    position: relative;
                    .label-text {
                        position: relative;
                        top: 35px;
                        z-index: -1;
                        left: 0;
                        -webkit-transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
                        transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
                    }
                    input,
                    textarea {
                        -webkit-transition: all 300ms ease;
                        transition: all 300ms ease;
                    }
                    &.active {
                        .label-text {
                            left: 0;
                            top: 0;
                        }
                    }
                }
                input,select,textarea{
                    border: none;
                    border-bottom: 1px solid $border_dark;
                    background: transparent;
                    padding: 10px 0;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 600;
                    color: $black;
                    border-radius: 0;
                    &:focus{
                        outline: 0;
                        box-shadow: 0 0 0;
                    }
                }
                .form-group.textarea-box{
                    width: 100%;
                }
            }
            .btn{
                border: 1px solid;
                padding: 11px 40px;
                @extend %poppins;
                border-radius: 0;
                &:first-child{
                    margin-right: 15px;
                }
            }
        }

        .address-section{
            width: 33%;
            padding-left: 30px;
            &-inner{
                padding: 40px;
                background: $white_light;
                height: 100%;
                .title{
                    font-size: 26px;
                }
                .details{
                    border-bottom: 2px solid $border_dark;
                    margin-bottom: 30px;
                    padding-bottom: 15px;
                    &-inner{
                        margin-bottom: 20px;
                        .head{
                            font-size: 15px;
                            display: inline-block;
                        }
                        a{
                            display: block;
                            font-size: 18px;
                            font-weight: 600;
                            color: $primary_color;
                            @include transition(.3s all);
                            &:hover{
                                color: $secondary_color;
                            }
                        }
                    }
                }
            }
            .social-networks{
                .title{
                    font-size: 18px;
                    margin-bottom: 15px;
                    color: $black;
                }
                a{
                    margin-right: 40px;
                    color: $black;
                    opacity: .7;
                    font-size: 20px;
                    @include transition(.3s all);
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover{
                        color: $primary_color;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .title{
        @extend %title_style_1;
        margin-bottom: 50px;
    }
    p{
        font-size: 18px;
    }  
}

.address-location-section{
    @extend %padding_style_1;
    padding-top: 0;
    .title-section{
        text-align: center;
        margin-bottom: 60px;
        .title{
            @extend %title_style_1;
            margin-bottom: 15px;
        }
        p{
            font-size: 18px;
        }
    }
    .address-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-item{
            width: 33.333%;
            padding: 15px 15px 30px;
            @extend %poppins;
            &:hover{
                .image img{                
                    transform: scale(1.02);
                }
            }
            .image{
                border-radius: 20px;
                box-shadow: 0px 6px 20px -4px rgb(0 0 0 / 40%);
                overflow: hidden;
                margin-bottom: 30px;
                img{
                    @include transition(.3s all);
                }
            }
            .name{
                font-size: 22px;
                font-weight: 600;
                color: $black;
                margin-bottom: 15px;
            }
            .address{
                font-size: 16px;
                span{
                    display: block;
                }
            }
            .email{
                display: flex;
                align-items: center;
                .icon{
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    margin-right: 15px;
                }
                a{
                    font-size: 18px;
                    font-weight: 500;
                    color: $primary_color;
                    @include transition(.3s all);
                    &:hover{
                        color: $secondary_color;
                    }
                }
            }
        }
    }
}