.investor-menu {
    position: fixed;
    right: 0;
    top: 42%;
    z-index: 1;
    a{
        background: $secondary_color;
        display: block;
        padding: 10px 12px;
        text-align: center;
        color: $white;
        font-size: 11px;
        line-height: 1.2;
        svg{
            margin-bottom: 7px;
        }
        span{
            display: block;
        }
    }
}

.secondary-menu.investor-menu-list{
    opacity: 0;
    z-index: -9;
    .menu-item a{
        font-size: 18px;
    }
    .has-child > a{
        &:after{
            content: '';
            background-image: url(/images/down-chevron.svg);
            width: 14px;
            height: 6px;
            display: inline-block;
            @include bgimagecontain;
            position: relative;
            left: 6px;
            top: -1px;
            @include transition(.3s all);
        }
    }
    .submenu{
        display: none;
        &-item{
            margin: 8px 0;
            a{
                font-size: 16px;
                color: $black_light;
                font-weight: normal;
            }
        }
    }
    .child-menu-show{
        .submenu{
            display: block;
        }
        &.has-child a:after{
            transform: rotate(180deg);
        }
    }
}

.investor-menu-show{
    position: relative;
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 75%);
        @include centerdiv;
        z-index: 99;
    }
    .secondary-menu.investor-menu-list{
        opacity: 1;
        z-index: 99;
    }
}

@media only screen and (max-width: 600px){
    .investor-menu-show .secondary-menu {
        width: 100%;
        .close-icon {
            margin-right: 0;
        }
    }
}

.corporate-governance{
    @extend %commonCircles;
    &:before,&:after{
        position: fixed;
    }
    &-inner{
        @extend %padding_style_1;
    }
    .title-section{
        .title{
            text-align: center;
            @extend %title_style_1;
            margin-bottom: 40px;
        }
        p{
            @extend %poppins;
            font-size: 18px;
        }
    }
    div#corporate-accordion{
        margin-top: 50px;
    }
}

.shareholders-section{
    .title-section .title span{
        display: block;
    }
}