.discover-identify-banner{
    width: 100%;
    background-image: url(/images/background_image-discover.jpg);
    @include bgimagecover;
    height: 0;
    padding-bottom: 48%;
    position: relative;
    .content-box{
        transform: translate(-50%, -25%);
        -ms-transform: translate(-50%, -25%);
        -webkit-transform: translate(-50%, -25%);
        text-align: center;
        width: 60%;
        .title{
            margin-bottom: 25px;
        }
        p{
            font-weight: 200;
            margin-bottom: 120px;
        }
        .subtitle{
            font-size: 18px;
            margin-bottom: 25px;
        }
        .btn{
            width: 65px;
            height: 65px;
            background: $white;
            padding: 0;
            text-align: center;
            line-height: 65px;
            border-radius: 50%;
            position: relative;
            &:before{
                content: "";
                width: 80px;
                height: 80px;
                line-height: 80px;
                border: 4px double rgb(255 255 255 / 30%);
                border-radius: 50%;
                @include centerdiv;
            }
            img{
                margin: 0;
            }
        }
    }
}

.image-text-section {
    width: 100%;
    &-inner{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        @extend %poppins;
        line-height: 1.6;
        .box{
            width: 50%;
            padding: 100px;
        }
        .box2{
            background-image: url(/images/discover-box1.jpg);
            @include bgimagecover;
        }
        .head-icon{
            margin-bottom: 20px;
        }
        .title{
            color: $black;
            font-size: 34px;
            font-weight: 800;
            margin-bottom: 15px;
            line-height: 1.4;
            @extend %manrope;
        }
        .list{
            margin-top: 30px;
            margin-bottom: 40px;
            .list-item{
                margin-bottom: 30px;
                display: flex;
            }
            .icon{
                width: 65px;
                display: inline-block;
                margin-right: 15px;
                img{
                    width: 100%;
                }
            }
        }
        .btn{
            background: $primary_color_light;
            border-radius: 0;
            font-weight: 400;
            letter-spacing: .5px;
        }
    }
}