.footer-section{
    padding: 70px 100px 0;
    &-inner{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $border_dark;
        padding-bottom: 50px;
    }
    .footer-box{
        @extend %poppins;
        font-size: 14px;
        &-inner{
            padding-left: 40px;
        }
        .title{
            font-size: 14px;
            font-weight: 700;
            @extend %manrope;
            color: $black;
            margin: 20px 0;
        }
        .list{
            &-item{
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    display: inline-block;
                    color: $black_light;
                    @include transition(.3s all);
                    &:hover{
                        color: $primary_color;
                    }
                }
            }
        }
    }
    .footer-box1{
        width: 45%;
        .footer-box-inner{
            padding-left: 0;
            padding-right: 250px;
        }
        img{
            margin-bottom: 25px;
        }
        p{
            font-size: 12px;
            line-height: 1.8;
        }
    }

    .footer-box2{
        width: 25%;
    }

    .footer-box3{
        width: 30%;
        .footer-box-inner{
            padding-left: 20px;
        }
        .list{
            .list-item{
                width: 48%;
                display: inline-block;
            }
        }
    }

    .footer-section-social{
        a{
            display: inline-block;
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .footer-section-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        @extend %poppins;
        font-size: 12px;
        .links{
            a{
                color: $black_light;
                position: relative;
                margin-right: 30px;
                @include transition(.3s all);
                &:after{
                    content: '●';
                    position: absolute;
                    right: -20px;
                }
                &:last-child{
                    margin-right: 0;
                    &:after{
                        display: none;
                    }
                }
                &:hover{
                    color: $primary_color;
                }
            }
        }
    }
}

.quick-btn {
    position: fixed;
    bottom: 0;
    right: 0;
}