.header-section {
    padding: 15px 100px;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 9;
    &.home-header{
        position: relative;
    }
    &-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @extend %poppins;
    }
    .logo-box{
        position: relative;
        z-index: 0;
    }
    .navigation{
        @include transition(.3s ease-in-out);
        .menu{
            display: flex;
            &-item{
                margin: 0 15px;
                position: relative;
                &.active:after{
                    content: '';
                    width: 22px;
                    height: 4px;
                    background: $primary_color;
                    @include centerdiv;
                    top: 135%;
                }
                a{
                    display: block;
                    color: $black;
                    font-weight: 600;
                    @include transition(.3s all);
                    &:hover{
                        color: $primary_color;
                    }
                }
                &.has-child{
                    padding-right: 20px;
                    &:before{
                        content: '';
                        background-image: url(/images/down-chevron.svg);
                        width: 10px;
                        height: 7px;
                        position: absolute;
                        right: 0;
                        top: 8px;
                        @include bgimagecontain;
                    }
                }
            }
            .sub-menu{
                display: none;
            }
        }
    }
    .breadcrumb-box{
        position: relative;
        z-index: 99;
        a{
            color: $black;
            font-weight: 600;
            span{
                margin-right: 10px;
            }
        }
    }
}

.secondary-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    background: $white;
    z-index: -9;
    opacity: 0;
    // @include transition(.3s all);
    &-inner {
        padding: 40px;
        height: 100%;
        overflow-y: auto;
    }
    .close-icon{
        text-align: right;
        margin-right: 62px;
        margin-top: -15px;
    }
    .menu{
        padding-top: 40px;
        .menu-item{
            margin-bottom: 15px;
            a{
                font-size: 22px;
                color: $black;
                @extend %poppins;
                font-weight: 600;
            }
        }
    }
    .social-list {
        position: absolute;
        bottom: 40px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
        gap: 25px;
        .social-item{
            width: 20px;
            height: 20px;
        }
    }
}

.menu-show{
    position: relative;
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 75%);
        @include centerdiv;
        z-index: 99;
    }
    .secondary-menu{
        z-index: 99;
        opacity: 1;
    }
}

@media only screen and (max-width: 991px){
    // .header-section .navigation{
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     z-index: 9;
    //     background: $white;
    //     transform: translateY(-100%);
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     width: 100%;
    //     height: 100vh;
    //     .menu{
    //         flex-direction: column;
    //         align-items: center;
    //         justify-content: center;
    //         height: 100%;
    //         .menu-item{
    //             margin: 15px 0;
    //             a{
    //                 font-size: 22px;
    //             }
    //             &.has-child{
    //                 padding-right: 0;
    //                 &:before{
    //                     top: 15px;
    //                     right: -20px;
    //                 }
    //             }
    //         }
    //     }
    // }
    // .menu-show{
    //     position: fixed;
    //     width: 100%;
    //     .header-section .navigation{
    //         visibility: visible;
    //         transform: translateY(0);
    //     }
    // }
}

@media only screen and (max-width: 600px){
    .menu-show .secondary-menu {
        width: 100%;
        .close-icon {
            margin-right: 0;
        }
    }
}