.banner-section{
    width: 100%;
    background-image: url(/images/background_image.jpg);
    @include bgimagecover;
    height: 0;
    padding-bottom: 48%;
    position: relative;
    .content-box{
        @include centerdiv;
        transform: translate(-100%, -50%);
        -ms-transform: translate(-100%, -50%);
        -webkit-transform: translate(-100%, -50%);
        width: 43%;
        color: $white;
        .title{
            font-size: 54px;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 30px;
            @extend %poppins;
            font-size: 18px;
        }
        .btn{
            img{
                margin-left: 10px;
            }
        }
    }
}

.ad-solution-section{
    @extend %padding_style_1;
    .title-section {
        padding: 0 50px 50px;
        .title{
            font-size: 50px;
            font-weight: 800;
            color: $black;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            @extend %poppins;
        }
    }
    .box-section {
        display: flex;
        align-items: center;
        justify-content: center;
        .box-1{
            background-image: url(/images/discover_background.jpg);
            margin-right: 30px;
        }
        .box-2{
            background-image: url(/images/acquire_background.jpg);
        }
        .box{
            @include bgimagecover;
            width: 48%;
            &-inner{
                padding: 50% 8% 6%;
            }
            .title{
                font-size: 32px;
                font-weight: 700;
                color: $secondary_color;
                margin-bottom: 30px;
            }
            .list-style{
                padding-left: 20px;
                color: $white;
                .list-item{
                    font-size: 20px;
                    line-height: 2.6;
                    cursor: pointer;
                    img{
                        @include transition(.3s all);
                        margin-left: 10px;
                    }
                    &:hover img{
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

.growth-section{
    width: 100%;
    background: $light_color;
    @extend %padding_style_1;
    .title-section{
        margin-bottom: 70px;
        .title{
            font-size: 50px;
            font-weight: 800;
            color: $black;
            margin-bottom: 20px;
        }
    }
    p{
        @extend %poppins;
        font-size: 18px;
    }
    .content-box{
        &-inner{
            align-items: center;
            .title{
                font-size: 36px;
                line-height: 1.4;
                font-weight: 800;
                color: $black;
            }
            &:nth-child(even){
                flex-flow: row-reverse;
                .content-box-image{
                    text-align: right;
                }
            }
        }
    }
}

.stats-section{
    background-image: url(/images/high_impact_background.jpg);
    @include bgimagecover;
    &-inner{
        @extend %padding_style_1;
        .title-section {
            padding: 0 50px 50px;
            .title{
                font-size: 50px;
                font-weight: 800;
                color: $white;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
                @extend %poppins;
            }
        }
        p{
            opacity: .7;
            color: $white;
        }
    }
    .stats-box{
        &-inner{
            background: $primary_color_dark;
            padding: 30px 15px;
            color: $white;
            text-align: center;
            border-radius: 12px;
            cursor: pointer;
            @include transition(all 250ms cubic-bezier(.02,.01,.47,1) 0s);
            img{
                margin-top: -65px;
            }
            &:hover{
                box-shadow: 10px 6px 15px rgb(0 0 0 / 20%);
                transform: translateY(-7px);
            }
        }
        .title{
            font-size: 36px;
            font-weight: 600;
        }
        .text{
            font-size: 16px;
        }
        .date{
            font-size: 12px;
            margin-bottom: 0;
            opacity: .5;
        }
    }
}