.investor-relation-section{
    @extend %commonCircles;
    &-inner{
        @extend %padding_style_1;
        padding-bottom: 30px;
    }
    .title-section{
        .title{
            @extend %title_style_1;
            margin-bottom: 70px;
        }
    }
    .section-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .box{
            width: 50%;
            .title{
                @extend %title_style_1;
                margin-bottom: 15px;
            }
        }
    }
    .section1 {
        margin-bottom: 90px;
        .box{
            .btn{
                border-radius: 0;
                @extend %poppins;
                letter-spacing: 1px;
                padding: 12px 30px;
                font-weight: 400;
            }
        }
        .left-section{
            padding-right: 50px;
            padding-top: 40px;
            .title{
                font-size: 38px;
            }
            p{
                @extend %poppins;
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
        .right-section{
            &-inner{
                background-image: url(/images/market-image.png);
                @include bgimagecover;
                padding: 40px;
            }
            .title{
                font-size: 30px;
                color: $white;
            }
            .stock-list{
                margin-top: 60px;
                &-item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $white;
                    margin-bottom: 50px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .name{
                        @extend %poppins;
                        font-size: 24px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .section2{
        .box{
            &-inner{
                padding: 30px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .top-section{
                margin-bottom: 90px;
            }
            .title{
                @extend %poppins;
                font-size: 32px;
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 10px;
                span{
                    display: block;
                }
            }
            .date{
                padding: 5px 10px;
                font-size: 16px;
                font-weight: 500;
                display: inline-block;
                border-radius: 3px;
            }
            .pdf-btn{
                font-size: 15px;
                letter-spacing: 1px;
                font-weight: 400;
                span{
                    display: inline-block;
                    margin-right: 5px;
                }
                svg{
                    height: 12px;
                    @include transition(.3s all);
                }
                &:hover{
                    svg{
                        transform: translateX(10px);
                    }
                }
            }
        }
        .box1{
            padding-right: 50px;
            .box-inner{
                background-image: url(/images/corporate-presentation-image.png);
                @include bgimagecover;
            }
            .title,.pdf-btn{
                color: $white;
            }
            .date{
                background: $white;
                color: $primary_color;
            }
        }
        .box2{
            .box-inner{
                background-color: #f5f5f5;
                background-image: url(/images/annual_report.png);
                @include bgimagecontain;
            }
            .title{
                color: $black;
            }
            .date{
                background: $primary_color;
                color: $white;
            }
            .pdf-btn{
                color: $primary_color;
                font-weight: 500;
                svg .a{
                    fill: $primary_color;
                }
            }
        }
    }
    .section3{
        @extend .section2;
        margin-top: 40px;
        .box{
            width: 32%;
            .title{
                color: $white;
            }
            .pdf-btn{
                color: $white;
            }
            &-inner{
                @include bgimagecover;
            }
        }
        .box1{
            padding-right: 0;
            .box-inner{
                background-image: url(/images/ipo_prospectus_image.png);
            }
        }
        .box2{
            .box-inner{
                background-image: url(/images/investor_presentation_image.png);
                background-size: cover;
                svg .a{
                    fill: $white;
                }
            }
            .title{
                color: $white;
            }
        }
        .box3{
            .box-inner{
                background-image: url(/images/press_release.png);
            }
        }
    }
}

.financial-details-section{
    @extend %padding_style_1;
    .title{
        @extend %title_style_1;
        text-align: center;
        margin-bottom: 50px;
    }
    .nav-pills{
        justify-content: center;
        border-bottom: 1px solid $border_color;
        .nav-item{
            margin: 0 20px;
            .nav-link{
                font-size: 18px;
                font-weight: 600;
                @extend %poppins;
                text-transform: uppercase;
                color: $color7;
                padding: 10px 0;
                position: relative;
                &.active{
                    background: transparent;
                    border-radius: 0;
                    color: $primary_color;
                    &:after{
                        background: $primary_color;
                    }
                }
                &:after{
                    content: '';
                    width: 100%;
                    height: 3px;
                    background: transparent;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                }
            }
        }
        &.child-pills{
            border-bottom: none;
            .nav-item{
                margin: 0 10px;
                .nav-link{
                    padding: 12px 18px;
                    background: $light_color;
                    &:after{
                        display: none;
                    }
                    &.active{
                        background: $primary_color;
                        color: $white;
                    }
                }
            }
        }
    }
    .tab-content{
        margin-top: 70px;
        .download-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                width: 40%;
                margin-right: 80px;
                position: relative;
                margin-bottom: 30px;
                border-bottom: 1px solid $border_color;
                padding-bottom: 20px;
                &:after {
                    content: "";
                    background-image: url(/images/download.png);
                    @include bgimagecontain;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 30px;
                    height: 30px;
                    z-index: -1;
                }
                a{
                    color: $black;
                    font-size: 18px;
                    font-weight: 600;
                    display: block;
                    padding-right: 70px;
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}

.exchange-announcements-section{
    background: $primary_color;
    &-inner{
        @extend %padding_style_1;
    }
    .title{
        color: $white;
        text-align: center;
        @extend %title_style_1;
    }
    .content-box{
        margin-top: 70px;
        @extend %poppins;
        &-section{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .box{
            width: 48%;
            .title{
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 25px;
            }
            &-inner{
                background: $white;
                padding: 30px;
                height: 385px;
                overflow-y: scroll;
            }
            .box-item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $border_color;
                padding-bottom: 15px;
                margin-bottom: 15px;
                .image{
                    width: 40px;
                }
                .content{
                    max-width: 88%;
                }
                .text{
                    font-size: 18px;
                    color: $black;
                }
                .date{
                    display: inline-block;
                    margin-bottom: 7px;
                    color: $black_light;
                }
            }
        }
        
        ::-webkit-scrollbar-track
        {
            border-radius: 0;
            background-color: $border_color;
        }

        ::-webkit-scrollbar
        {
            width: 6px;
            background-color: $border_color;
        }

        ::-webkit-scrollbar-thumb
        {
            border-radius: 100px;
            background-color: $color7;
        }
    }
}

.ir-section4{
    background: $light_color;
    @extend %padding_style_1;
    .section-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .box{
            width: 32%;
            &-inner{
                @include bgimagecover;
                padding: 30px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .top-section{
                margin-bottom: 90px;
            }
            .title{
                @extend %poppins;
                font-size: 32px;
                font-weight: 600;
                line-height: 1.4;
                margin-bottom: 10px;
                color: $white;
                span{
                    display: block;
                }
            }
            .pdf-btn{
                font-size: 15px;
                letter-spacing: 1px;
                font-weight: 400;
                color: $white;
                span{
                    display: inline-block;
                    margin-right: 5px;
                }
                svg{
                    height: 12px;
                    @include transition(.3s all);
                }
                &:hover{
                    svg{
                        transform: translateX(10px);
                    }
                }
            }
        }
        .box1{
            padding-right: 0;
            .box-inner{
                background-image: url(/images/corporate_presentation.png);
            }
        }
        .box2{
            .box-inner{
                background-image: url(/images/shareholders_agm.png);
            }
        }
        .box3{
            .box-inner{
                background-image: url(/images/corporate_actions.png);
            }
        }
    }
}

.investor-faqs-section{
    @extend %padding_style_1;
    @extend %poppins;
    &-inner{
        max-width: 1000px;
        margin: 0 auto;
    }
    .title{
        text-align: center;
        @extend %title_style_1;
        margin-bottom: 30px;
    }
    .accordion{
        .accordion-header button{
            font-size: 20px;
            font-weight: 500;
            line-height: 1.6;
            max-width: 90%;
            &:after {
                position: absolute;
                right: -70px;
                top: 17px;
                content: '\f055';
                @include fontawesome;
                background-image: none;
            }
        }
        .accordion-button:not(.collapsed)::after{
            transform: rotate(0);
            content: '\f056';
        }
        .accordion-body{
            font-size: 20px;
            max-width: 90%;
            p:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.irc-section{
    padding: 0 100px 70px;
    &-inner{
        max-width: 1000px;
        margin: 0 auto;
    }
    .title{
        text-align: center;
        @extend %title_style_1;
        margin-bottom: 60px;
    }
    .box-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .box{
            width: 48%;
            border-right: 1px solid $border_color;
            &:last-child{
                border-right: none;
            }
            &-inner{
                border-bottom: 1px solid $border_color;
                padding-bottom: 20px;
                margin-bottom: 40px;
                &:last-child{
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
        .title{
            text-align: left;
            font-size: 22px;
            line-height: 1.4;
            margin-bottom: 20px;
            span{
                display: block;
            }
        }
        .box-item{
            @extend %poppins;
            margin-bottom: 15px;
            .name{
                font-size: 20px;
                color: $black;
                line-height: 1.5;
                margin-bottom: 0;
            }
            .name2{
                margin-bottom: 5px;
            }
            span{
                display: block;
            }
            .text{
                display: block;
                line-height: 1.8;
                color: $black;
            }
            .text.text2 {
                margin-top: 10px;
                font-weight: 500;
            }
            a{
                color: $primary_color;
                &:hover{
                    color: $secondary_color;
                }
            }
        }
    }
}