.media-section1{
    padding-bottom: 70px;
    @extend %commonCircles;
    &-inner{
        @extend %padding_style_1;
        padding-bottom: 0;
    }
    .title{
        @extend %title_style_1;
        font-size: 60px;
        text-align: center;
        margin-bottom: 60px;
    }
    
    .nav-pills{
        justify-content: center;
        border-bottom: 1px solid $border_color;
        .nav-item{
            margin: 0 20px;
            .nav-link{
                font-size: 18px;
                font-weight: 600;
                @extend %poppins;
                color: $color7;
                padding: 10px 0;
                position: relative;
                &.active{
                    background: transparent;
                    border-radius: 0;
                    color: $primary_color;
                    &:after{
                        background: $primary_color;
                    }
                }
                &:after{
                    content: '';
                    width: 100%;
                    height: 3px;
                    background: transparent;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                }
            }
        }
    }
    .tab-content{
        margin-top: 70px;
        @extend %poppins;
        .tab-pane-inner {
            display: flex;
            flex-wrap: wrap;
            gap: 35px;
            .media-item{
                flex: 1 1 25%;
                background: $white;
                padding: 20px;
                box-shadow: 0px 2px 10px rgb(0 0 0 / 20%);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            a{
                font-size: 16px;
                color: $black;
                font-weight: 500;
                height: 140px;
            }
            p:last-child{
                margin-bottom: 0;
            }
        }
        .awards-tab-content{
            text-align: center;
            a{
                height: auto;
            }
            .title{
                font-size: 18px;
                font-weight: 600;
                margin: 20px 0 10px;
            }
            .image {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                height: 120px;
                margin-bottom: 30px;
            }
            p{
                font-weight: 400;
                color: $black_light;
                line-height: 1.4;
            }
        }
    }
}