@charset "UTF-8";

.image-text-section-inner .title,
.footer-section .footer-box .title,
body {
  font-family: "Manrope", sans-serif;
}

.image-text-section-inner,
.media-section1 .tab-content,
.media-section1 .nav-pills .nav-item .nav-link,
.irc-section .box-section .box-item,
.investor-faqs-section,
.ir-section4 .section-box .box .title,
.exchange-announcements-section .content-box,
.financial-details-section .nav-pills .nav-item .nav-link,
.investor-relation-section .section2 .box .title,
.investor-relation-section .section3 .box .title,
.investor-relation-section .section1 .right-section .stock-list-item .name,
.investor-relation-section .section1 .left-section p,
.investor-relation-section .section1 .box .btn,
.corporate-governance .title-section p,
.address-location-section .address-box-item,
.contact-section1-inner .form-section .btn,
.contact-section1-inner .form-section,
.join-team-section .btn,
.culture-section .box-section .box .image-name,
.management-section .members-list-item-inner .position,
.what-we-do p,
.stats-section-inner .title-section p,
.growth-section p,
.ad-solution-section .title-section p,
.banner-section .content-box p,
.awards-section .awards-box-section .title,
.accordion .accordion-body ul li a,
.footer-section .footer-section-bottom,
.footer-section .footer-box,
.secondary-menu .menu .menu-item a,
.header-section-inner {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 14px;
  color: #525868;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0255A8;
}

a.active {
  color: #0255A8;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.list-style {
  list-style: disc;
  padding-left: 40px;
}

ol.list-style {
  list-style: decimal;
  padding-left: 40px;
}

a.btn,
.btn,
input.btn,
button {
  color: #fff;
  padding: 11px 20px;
  font-weight: 500;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

a.btn:hover,
.btn:hover,
input.btn:hover,
button:hover {
  color: #fff;
}

a.btn:focus,
.btn:focus,
input.btn:focus,
button:focus {
  outline: 0;
  box-shadow: 0 0 0;
}

a.btn--primary,
.btn--primary,
input.btn--primary,
button--primary {
  background: #0255A8;
}

a.btn--primary:hover,
.btn--primary:hover,
input.btn--primary:hover,
button--primary:hover {
  background: #F68121;
}

a.btn--primary-outline,
.btn--primary-outline,
input.btn--primary-outline,
button--primary-outline {
  background: transparent;
  border: 1px solid #0255A8;
  color: #0255A8;
}

a.btn--primary-outline:hover,
.btn--primary-outline:hover,
input.btn--primary-outline:hover,
button--primary-outline:hover {
  color: #fff;
  background: #F68121;
  border-color: #F68121;
}

a.btn--secondary,
.btn--secondary,
input.btn--secondary,
button--secondary {
  background: #F68121;
}

a.btn--secondary:hover,
.btn--secondary:hover,
input.btn--secondary:hover,
button--secondary:hover {
  background: #0255A8;
}

::-moz-selection {
  color: #fff;
  background: #0255A8;
}

::selection {
  color: #fff;
  background: #0255A8;
}

.header-section {
  padding: 15px 100px;
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 9;
}

.header-section.home-header {
  position: relative;
}

.header-section-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section .logo-box {
  position: relative;
  z-index: 0;
}

.header-section .navigation {
  transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.header-section .navigation .menu {
  display: flex;
}

.header-section .navigation .menu-item {
  margin: 0 15px;
  position: relative;
}

.header-section .navigation .menu-item.active:after {
  content: "";
  width: 22px;
  height: 4px;
  background: #0255A8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  top: 135%;
}

.header-section .navigation .menu-item a {
  display: block;
  color: #202430;
  font-weight: 600;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.header-section .navigation .menu-item a:hover {
  color: #0255A8;
}

.header-section .navigation .menu-item.has-child {
  padding-right: 20px;
}

.header-section .navigation .menu-item.has-child:before {
  content: "";
  background-image: url(/images/down-chevron.svg);
  width: 10px;
  height: 7px;
  position: absolute;
  right: 0;
  top: 8px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header-section .navigation .menu .sub-menu {
  display: none;
}

.header-section .breadcrumb-box {
  position: relative;
  z-index: 99;
}

.header-section .breadcrumb-box a {
  color: #202430;
  font-weight: 600;
}

.header-section .breadcrumb-box a span {
  margin-right: 10px;
}

.secondary-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  background: #fff;
  z-index: -9;
  opacity: 0;
}

.secondary-menu-inner {
  padding: 40px;
  height: 100%;
  overflow-y: auto;
}

.secondary-menu .close-icon {
  text-align: right;
  margin-right: 62px;
  margin-top: -15px;
}

.secondary-menu .menu {
  padding-top: 40px;
}

.secondary-menu .menu .menu-item {
  margin-bottom: 15px;
}

.secondary-menu .menu .menu-item a {
  font-size: 22px;
  color: #202430;
  font-weight: 600;
}

.secondary-menu .social-list {
  position: absolute;
  bottom: 40px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  left: 0;
  gap: 25px;
}

.secondary-menu .social-list .social-item {
  width: 20px;
  height: 20px;
}

.menu-show {
  position: relative;
}

.menu-show:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 99;
}

.menu-show .secondary-menu {
  z-index: 99;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .menu-show .secondary-menu {
    width: 100%;
  }

  .menu-show .secondary-menu .close-icon {
    margin-right: 0;
  }
}

.footer-section {
  padding: 70px 100px 0;
}

.footer-section-inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
}

.footer-section .footer-box {
  font-size: 14px;
}

.footer-section .footer-box-inner {
  padding-left: 40px;
}

.footer-section .footer-box .title {
  font-size: 14px;
  font-weight: 700;
  color: #202430;
  margin: 20px 0;
}

.footer-section .footer-box .list-item {
  margin-bottom: 20px;
}

.footer-section .footer-box .list-item:last-child {
  margin-bottom: 0;
}

.footer-section .footer-box .list-item a {
  display: inline-block;
  color: #525868;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.footer-section .footer-box .list-item a:hover {
  color: #0255A8;
}

.footer-section .footer-box1 {
  width: 45%;
}

.footer-section .footer-box1 .footer-box-inner {
  padding-left: 0;
  padding-right: 250px;
}

.footer-section .footer-box1 img {
  margin-bottom: 25px;
}

.footer-section .footer-box1 p {
  font-size: 12px;
  line-height: 1.8;
}

.footer-section .footer-box2 {
  width: 25%;
}

.footer-section .footer-box3 {
  width: 30%;
}

.footer-section .footer-box3 .footer-box-inner {
  padding-left: 20px;
}

.footer-section .footer-box3 .list .list-item {
  width: 48%;
  display: inline-block;
}

.footer-section .footer-section-social a {
  display: inline-block;
  margin-right: 30px;
}

.footer-section .footer-section-social a:last-child {
  margin-right: 0;
}

.footer-section .footer-section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  font-size: 12px;
}

.footer-section .footer-section-bottom .links a {
  color: #525868;
  position: relative;
  margin-right: 30px;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.footer-section .footer-section-bottom .links a:after {
  content: "\25CF";
  position: absolute;
  right: -20px;
}

.footer-section .footer-section-bottom .links a:last-child {
  margin-right: 0;
}

.footer-section .footer-section-bottom .links a:last-child:after {
  display: none;
}

.footer-section .footer-section-bottom .links a:hover {
  color: #0255A8;
}

.quick-btn {
  position: fixed;
  bottom: 0;
  right: 0;
}

.media-section1-inner,
.investor-faqs-section,
.ir-section4,
.exchange-announcements-section-inner,
.financial-details-section,
.investor-relation-section-inner,
.corporate-governance-inner,
.address-location-section,
.contact-section1-inner,
.culture-section,
.affle-life-section-inner,
.investor-section,
.management-section,
.our-business-section,
.product-milestone-inner,
.about-section1-inner,
.stats-section-inner,
.growth-section,
.ad-solution-section,
.ad-campaigns-section,
.awards-section {
  padding: 70px 100px;
}

.media-section1 .title,
.irc-section .title,
.investor-faqs-section .title,
.exchange-announcements-section .title,
.financial-details-section .title,
.investor-relation-section .section-box .box .title,
.investor-relation-section .title-section .title,
.corporate-governance .title-section .title,
.address-location-section .title-section .title,
.contact-section1 .title,
.join-team-section .title,
.culture-section .title-section .title,
.affle-life-section .content-box .title,
.investor-section .title-text,
.investor-section .title,
.management-section .title-text,
.management-section .title,
.our-business-section .title,
.product-milestone .title,
.what-we-do .title,
.about-section1 .title,
.accordion .accordion-header button {
  color: #202430;
  font-size: 50px;
  font-weight: 800;
}

.media-section1,
.investor-relation-section,
.corporate-governance,
.contact-section1,
.affle-life-section,
.about-section1 {
  position: relative;
  overflow: hidden;
}

.media-section1:before,
.investor-relation-section:before,
.corporate-governance:before,
.contact-section1:before,
.affle-life-section:before,
.about-section1:before,
.media-section1:after,
.investor-relation-section:after,
.corporate-governance:after,
.contact-section1:after,
.affle-life-section:after,
.about-section1:after {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.media-section1:before,
.investor-relation-section:before,
.corporate-governance:before,
.contact-section1:before,
.affle-life-section:before,
.about-section1:before {
  background-image: url(/images/blue-circle.svg);
  top: -770px;
  right: -470px;
  width: 1240px;
  height: 1300px;
  opacity: 0.7;
  transform: rotate(-15deg);
}

.media-section1:after,
.investor-relation-section:after,
.corporate-governance:after,
.contact-section1:after,
.affle-life-section:after,
.about-section1:after {
  background-image: url(/images/orange-circle.svg);
  width: 700px;
  height: 700px;
  top: 400px;
  left: -220px;
  transform: rotate(-110deg);
  opacity: 0.5;
}

.innerpage-padding {
  padding-top: 76px;
}

.popup-triggered {
  position: fixed;
}

.popup-triggered .header-section {
  position: absolute;
  z-index: -1;
}

.popup-triggered .affle-life-section {
  height: 100vh;
}

.popup-triggered .popup-content {
  display: block;
}

.accordion .accordion-item {
  background: transparent;
  border: none;
  border-bottom: 2px solid #f1f4f5;
  padding: 20px 0;
}

.accordion .accordion-item.active .accordion-content {
  display: block;
}

.accordion .accordion-item:last-child {
  border-bottom: none;
}

.accordion .accordion-header button {
  background: transparent;
  font-size: 22px;
  padding: 15px 0;
}

.accordion .accordion-header button:hover {
  color: #0255A8;
}

.accordion .accordion-header button:focus {
  box-shadow: 0 0 0;
  outline: 0;
}

.accordion .accordion-header [aria-expanded=true] {
  color: #0255A8;
}

.accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: 0 0 0;
}

.accordion .accordion-content {
  display: none;
}

.accordion .accordion-body {
  padding: 15px 0;
}

.accordion .accordion-body ul {
  display: flex;
  flex-wrap: wrap;
}

.accordion .accordion-body ul li {
  width: 40%;
  margin-right: 80px;
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.accordion .accordion-body ul li:nth-child(even) {
  margin-right: 0;
}

.accordion .accordion-body ul li:after {
  content: "";
  background-image: url(/images/download.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: -1;
}

.accordion .accordion-body ul li:last-child {
  margin-right: 0;
}

.accordion .accordion-body ul li a {
  color: #202430;
  font-size: 18px;
  font-weight: 600;
  padding-right: 70px;
  display: block;
}

.accordion .accordion-body ul li a span {
  display: block;
}

.pagination {
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.pagination .pagination-item {
  width: 45px;
  height: 45px;
  line-height: 42px;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  border: 2px solid #eaeaea;
  text-align: center;
  margin-right: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #eaeaea;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.pagination .pagination-item:hover,
.pagination .pagination-item.active {
  background: #F68121;
  border-color: #F68121;
  color: #fff;
}

.awards-section {
  background: #f1f4f5;
}

.awards-section .title {
  font-weight: 800;
  font-size: 50px;
  color: #202430;
}

.awards-section .awards-box-section {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

.awards-section .awards-box-section .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.awards-section .awards-box-section .awards-img {
  min-height: 105px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awards-section .awards-box-section span {
  font-size: 15px;
}

.awards-section .all-awards a {
  font-weight: 700;
  color: #0255A8;
  font-size: 16px;
}

.awards-section .all-awards a svg {
  transform: translateX(10px);
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.awards-section .all-awards a:hover svg {
  transform: translateX(20px);
}

.awards-section .work-place {
  margin-top: 50px;
}

.ad-campaigns-section {
  padding-bottom: 100px;
}

.ad-campaigns-section-inner {
  display: flex;
}

.ad-campaigns-section .content-box {
  width: 65%;
  padding-right: 70px;
}

.ad-campaigns-section .content-box .title {
  font-size: 38px;
  color: #202430;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 40px;
}

.ad-campaigns-section .image-box {
  margin-top: 20px;
}

.ad-campaigns-section .image-box .image {
  position: relative;
}

.ad-campaigns-section .image-box .image:before {
  content: "";
  width: 80%;
  height: 92%;
  background: #eaeaea;
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: -1;
}

.ad-campaigns-section .image-box .image img {
  border-radius: 0 5px 5px 5px;
}

.ad-campaigns-section .btn {
  background: #146AB2;
  border-radius: 0;
}

.newsletter-section {
  padding: 0 100px;
}

.newsletter-section-inner {
  background-image: url(/images/newsletter-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 80px;
  border-radius: 10px;
}

.newsletter-section .title {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
}

.newsletter-section p {
  color: #fff;
  opacity: 0.8;
}

.newsletter-section .newsletter-form {
  display: flex;
  margin-top: 40px;
}

.newsletter-section .newsletter-form .form-control {
  margin-right: 15px;
  max-width: 60%;
}

.banner-section {
  width: 100%;
  background-image: url(/images/background_image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: 48%;
  position: relative;
}

.banner-section .content-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -webkit-transform: translate(-100%, -50%);
  width: 43%;
  color: #fff;
}

.banner-section .content-box .title {
  font-size: 54px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 10px;
}

.banner-section .content-box p {
  margin-bottom: 30px;
  font-size: 18px;
}

.banner-section .content-box .btn img {
  margin-left: 10px;
}

.ad-solution-section .title-section {
  padding: 0 50px 50px;
}

.ad-solution-section .title-section .title {
  font-size: 50px;
  font-weight: 800;
  color: #202430;
  margin-bottom: 20px;
}

.ad-solution-section .title-section p {
  font-size: 18px;
}

.ad-solution-section .box-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad-solution-section .box-section .box-1 {
  background-image: url(/images/discover_background.jpg);
  margin-right: 30px;
}

.ad-solution-section .box-section .box-2 {
  background-image: url(/images/acquire_background.jpg);
}

.ad-solution-section .box-section .box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 48%;
}

.ad-solution-section .box-section .box-inner {
  padding: 50% 8% 6%;
}

.ad-solution-section .box-section .box .title {
  font-size: 32px;
  font-weight: 700;
  color: #F68121;
  margin-bottom: 30px;
}

.ad-solution-section .box-section .box .list-style {
  padding-left: 20px;
  color: #fff;
}

.ad-solution-section .box-section .box .list-style .list-item {
  font-size: 20px;
  line-height: 2.6;
  cursor: pointer;
}

.ad-solution-section .box-section .box .list-style .list-item img {
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  margin-left: 10px;
}

.ad-solution-section .box-section .box .list-style .list-item:hover img {
  margin-left: 30px;
}

.growth-section {
  width: 100%;
  background: #f1f4f5;
}

.growth-section .title-section {
  margin-bottom: 70px;
}

.growth-section .title-section .title {
  font-size: 50px;
  font-weight: 800;
  color: #202430;
  margin-bottom: 20px;
}

.growth-section p {
  font-size: 18px;
}

.growth-section .content-box-inner {
  align-items: center;
}

.growth-section .content-box-inner .title {
  font-size: 36px;
  line-height: 1.4;
  font-weight: 800;
  color: #202430;
}

.growth-section .content-box-inner:nth-child(even) {
  flex-flow: row-reverse;
}

.growth-section .content-box-inner:nth-child(even) .content-box-image {
  text-align: right;
}

.stats-section {
  background-image: url(/images/high_impact_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stats-section-inner .title-section {
  padding: 0 50px 50px;
}

.stats-section-inner .title-section .title {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
}

.stats-section-inner .title-section p {
  font-size: 18px;
}

.stats-section-inner p {
  opacity: 0.7;
  color: #fff;
}

.stats-section .stats-box-inner {
  background: #052F53;
  padding: 30px 15px;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
  -ms-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
  -webkit-transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
}

.stats-section .stats-box-inner img {
  margin-top: -65px;
}

.stats-section .stats-box-inner:hover {
  box-shadow: 10px 6px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-7px);
}

.stats-section .stats-box .title {
  font-size: 36px;
  font-weight: 600;
}

.stats-section .stats-box .text {
  font-size: 16px;
}

.stats-section .stats-box .date {
  font-size: 12px;
  margin-bottom: 0;
  opacity: 0.5;
}

.about-section1 {
  padding-bottom: 70px;
}

.about-section1:before {
  width: 1200px;
  height: 1160px;
  position: absolute;
  top: -160px;
  left: -200px;
  opacity: 0.5;
}

.about-section1:after {
  display: none;
}

.about-section1-inner {
  padding-bottom: 0;
}

.about-section1 .title {
  font-size: 60px;
}

.about-section1 .stats-box {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.about-section1 .stats-box .stats-item {
  margin-right: 100px;
  position: relative;
}

.about-section1 .stats-box .stats-item span {
  display: block;
}

.about-section1 .stats-box .stats-item .numbers {
  font-size: 60px;
  font-weight: 800;
  color: #146AB2;
  line-height: 60px;
  margin-bottom: 10px;
}

.about-section1 .stats-box .stats-item:after {
  content: "";
  width: 2px;
  height: 40px;
  background: #eaeaea;
  position: absolute;
  right: -50px;
  top: 20px;
}

.about-section1 .stats-box .stats-item:last-child {
  margin-right: 0;
}

.about-section1 .stats-box .stats-item:last-child:after {
  display: none;
}

.about-section1 .stats-box .stats-item .text {
  color: #202430;
  font-size: 18px;
  font-weight: 500;
}

.about-section1 .image-box {
  text-align: right;
}

.about-section1 .image-box img {
  border-radius: 20px 0 0 20px;
}

.what-we-do {
  padding: 50px 200px 70px;
  position: relative;
  overflow: hidden;
}

.what-we-do:before {
  content: "";
  background-image: url(/images/orange-circle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 130%;
  position: absolute;
  top: 0;
  right: -400px;
  z-index: -1;
  opacity: 0.7;
}

.what-we-do .title {
  margin-bottom: 20px;
}

.what-we-do p {
  font-size: 18px;
}

.product-milestone {
  background: #000;
}

.product-milestone-inner {
  padding-bottom: 100px;
  height: 840px;
  position: relative;
  overflow: hidden;
}

.product-milestone-inner:before {
  content: "";
  width: 100%;
  height: 260px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.24));
}

.product-milestone-inner svg .a {
  fill: #F68121;
  stroke: #757575;
}

.product-milestone-inner svg .b {
  fill: #fff;
}

.product-milestone .title {
  color: #fff;
}

.product-milestone .milestone-box {
  margin-top: 50px;
}

.product-milestone .show-full,
.product-milestone .show-less {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  top: 98%;
  background: #F68121;
  border-radius: 10px 10px 0 0;
  padding: 15px 15px 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.product-milestone .show-full svg,
.product-milestone .show-less svg {
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  top: 0;
}

.product-milestone .show-full span,
.product-milestone .show-less span {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.product-milestone .show-less {
  display: none;
  top: 99.5%;
}

.product-milestone .show-less svg {
  top: -30%;
  transform: rotate(180deg);
  left: 44%;
}

.product-milestone.show .product-milestone-inner {
  height: auto;
}

.product-milestone.show .product-milestone-inner:before {
  display: none;
}

.our-business-section-inner {
  margin-top: 50px;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 70px;
}

.our-business-section-inner:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.our-business-section .advertisers-box {
  display: flex;
  align-items: center;
}

.our-business-section .advertisers-box .text-section {
  width: 30%;
}

.our-business-section .advertisers-box .text-section .title {
  font-size: 26px;
}

.our-business-section .advertisers-box .image-section {
  width: 70%;
}

.our-business-section .advertisers-box .image-section .logo-list {
  display: flex;
  flex-wrap: wrap;
}

.our-business-section .advertisers-box .image-section .logo-item {
  width: 33.333%;
  line-height: 8;
}

.management-section {
  background: #f1f4f5;
}

.management-section-inner {
  margin-bottom: 50px;
}

.management-section-inner:last-child {
  margin-bottom: 0%;
}

.management-section .title-text {
  text-align: center;
  display: block;
  margin: 40px 0 30px;
  font-size: 26px;
}

.management-section .members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.management-section .members-list-item {
  width: 25%;
  padding: 12px 12px 20px;
}

.management-section .members-list-item-inner {
  background: transparent linear-gradient(179deg, rgba(255, 255, 255, 0) 0%, white 100%) 0% 0%;
  box-shadow: 0px 5px 10px -8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
  height: 100%;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.management-section .members-list-item-inner span {
  display: block;
}

.management-section .members-list-item-inner .name {
  margin: 15px 0 5px;
  font-size: 18px;
  font-weight: 700;
  color: #202430;
}

.management-section .members-list-item-inner .position {
  font-size: 14px;
  margin-bottom: 15px;
  min-height: 60px;
}

.management-section .members-list-item-inner .read {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #146AB2;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  background: transparent;
  width: 100%;
}

.management-section .members-list-item-inner .read span {
  margin-right: 10px;
}

.management-section .members-list-item-inner .read svg {
  fill: #146AB2;
  stroke: transparent;
  width: 26px;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.management-section .members-list-item-inner:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px -8px black;
}

.management-section .members-list-item-inner:hover .read svg {
  transform: translateX(10px);
}

.management-section .modal {
  background: rgba(0, 0, 0, 0.8);
}

.management-section .modal-content {
  background: transparent;
  border: none;
  border-radius: 0;
  margin-top: 70px;
  margin-bottom: 70px;
}

.management-section .modal-content-inner {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  text-align: center;
}

.management-section .modal-content .image-box {
  flex: 0 0 35%;
  background: #0255A8;
  padding: 30px;
  color: #fff;
  display: flex;
}

.management-section .modal-content .image-box .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.management-section .modal-content .image-box span {
  color: #fff;
  display: inline-block;
}

.management-section .modal-content .image-box .name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
}

.management-section .modal-content .image-box .position {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
}

.management-section .modal-content .image-box .social-url {
  color: #fff;
  font-size: 24px;
}

.management-section .modal-content .content {
  flex: 0 0 65%;
  background: #fff;
  padding: 40px;
  line-height: 1.7;
}

.management-section .modal-content .content p:last-child {
  margin-bottom: 0;
}

.management-section .modal-content .close-btn {
  background: transparent;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 37px;
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  margin: 28px auto 0;
  border: 2px solid #fff;
}

.investor-section .title-text {
  text-align: center;
  display: block;
  margin: 30px 0;
  font-size: 26px;
}

.investor-section .investor-images {
  margin-top: 60px;
}

.affle-life-section-inner {
  padding-bottom: 120px;
}

.affle-life-section .content-box {
  max-width: 600px;
  margin: 0 auto 70px;
  text-align: center;
}

.affle-life-section .content-box .title {
  margin-bottom: 30px;
}

.affle-life-section .content-box p {
  font-size: 18px;
}

.affle-life-section .image-box {
  max-width: 800px;
  margin: 0 auto;
}

.affle-life-section .image-box-inner {
  position: relative;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.affle-life-section .image-box-inner img {
  width: 100%;
}

.affle-life-section .image-box-inner .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: #F68121;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45);
}

.affle-life-section .image-box-inner .play-btn svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  padding-left: 3px;
}

.affle-life-section .image-box-inner:hover {
  transform: scale(0.95);
}

.affle-life-section .image-box-inner:hover .play-btn {
  background: #0255A8;
}

.popup-content {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: none;
  z-index: 1;
}

.popup-content-inner {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.popup-content .close-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.popup-content .close-popup svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.culture-section {
  background: #f1f4f5;
}

.culture-section .title-section {
  text-align: center;
  margin-bottom: 70px;
}

.culture-section .title-section .title {
  margin-bottom: 30px;
}

.culture-section .title-section p {
  font-size: 18px;
}

.culture-section .box-section {
  display: flex;
  flex-wrap: wrap;
}

.culture-section .box-section .box {
  width: 33.333%;
  padding: 25px;
}

.culture-section .box-section .box img {
  border-radius: 20px;
  box-shadow: 0px 6px 20px -10px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.culture-section .box-section .box .image-name {
  text-align: center;
  font-size: 24px;
  color: #202430;
  font-weight: 600;
}

.join-team-section-inner {
  padding: 180px 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.join-team-section-inner:before {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  height: 480px;
  background-image: url(/images/join-team.png);
  z-index: -1;
}

.join-team-section .title {
  margin-bottom: 30px;
}

.join-team-section p {
  font-size: 18px;
  margin-bottom: 40px;
}

.join-team-section .btn {
  font-weight: 400;
  border-radius: 0;
  letter-spacing: 0.5px;
  padding: 12px 30px;
}

.contact-section1:before {
  top: -510px;
  right: -350px;
  width: 1180px;
  height: 915px;
  opacity: 1;
  transform: rotate(-30deg);
}

.contact-section1:after {
  width: 700px;
  height: 700px;
  top: 540px;
  left: -320px;
  transform: rotate(230deg);
  opacity: 1;
}

.contact-section1-inner {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 140px;
}

.contact-section1-inner .form-section {
  width: 67%;
  padding-right: 70px;
}

.contact-section1-inner .form-section .contact-form-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.contact-section1-inner .form-section .contact-form-inner .form-group {
  width: 48.5%;
  margin-bottom: 25px;
  position: relative;
}

.contact-section1-inner .form-section .contact-form-inner .form-group .label-text {
  position: relative;
  top: 35px;
  z-index: -1;
  left: 0;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.contact-section1-inner .form-section .contact-form-inner .form-group input,
.contact-section1-inner .form-section .contact-form-inner .form-group textarea {
  transition: all 300ms ease;
}

.contact-section1-inner .form-section .contact-form-inner .form-group.active .label-text {
  left: 0;
  top: 0;
}

.contact-section1-inner .form-section .contact-form-inner input,
.contact-section1-inner .form-section .contact-form-inner select,
.contact-section1-inner .form-section .contact-form-inner textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #202430;
  border-radius: 0;
}

.contact-section1-inner .form-section .contact-form-inner input:focus,
.contact-section1-inner .form-section .contact-form-inner select:focus,
.contact-section1-inner .form-section .contact-form-inner textarea:focus {
  outline: 0;
  box-shadow: 0 0 0;
}

.contact-section1-inner .form-section .contact-form-inner .form-group.textarea-box {
  width: 100%;
}

.contact-section1-inner .form-section .btn {
  border: 1px solid;
  padding: 11px 40px;
  border-radius: 0;
}

.contact-section1-inner .form-section .btn:first-child {
  margin-right: 15px;
}

.contact-section1-inner .address-section {
  width: 33%;
  padding-left: 30px;
}

.contact-section1-inner .address-section-inner {
  padding: 40px;
  background: #f6f6f6;
  height: 100%;
}

.contact-section1-inner .address-section-inner .title {
  font-size: 26px;
}

.contact-section1-inner .address-section-inner .details {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.contact-section1-inner .address-section-inner .details-inner {
  margin-bottom: 20px;
}

.contact-section1-inner .address-section-inner .details-inner .head {
  font-size: 15px;
  display: inline-block;
}

.contact-section1-inner .address-section-inner .details-inner a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #0255A8;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.contact-section1-inner .address-section-inner .details-inner a:hover {
  color: #F68121;
}

.contact-section1-inner .address-section .social-networks .title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #202430;
}

.contact-section1-inner .address-section .social-networks a {
  margin-right: 40px;
  color: #202430;
  opacity: 0.7;
  font-size: 20px;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.contact-section1-inner .address-section .social-networks a:last-child {
  margin-right: 0;
}

.contact-section1-inner .address-section .social-networks a:hover {
  color: #0255A8;
  opacity: 1;
}

.contact-section1 .title {
  margin-bottom: 50px;
}

.contact-section1 p {
  font-size: 18px;
}

.address-location-section {
  padding-top: 0;
}

.address-location-section .title-section {
  text-align: center;
  margin-bottom: 60px;
}

.address-location-section .title-section .title {
  margin-bottom: 15px;
}

.address-location-section .title-section p {
  font-size: 18px;
}

.address-location-section .address-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address-location-section .address-box-item {
  width: 33.333%;
  padding: 15px 15px 30px;
}

.address-location-section .address-box-item:hover .image img {
  transform: scale(1.02);
}

.address-location-section .address-box-item .image {
  border-radius: 20px;
  box-shadow: 0px 6px 20px -4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  margin-bottom: 30px;
}

.address-location-section .address-box-item .image img {
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.address-location-section .address-box-item .name {
  font-size: 22px;
  font-weight: 600;
  color: #202430;
  margin-bottom: 15px;
}

.address-location-section .address-box-item .address {
  font-size: 16px;
}

.address-location-section .address-box-item .address span {
  display: block;
}

.address-location-section .address-box-item .email {
  display: flex;
  align-items: center;
}

.address-location-section .address-box-item .email .icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 15px;
}

.address-location-section .address-box-item .email a {
  font-size: 18px;
  font-weight: 500;
  color: #0255A8;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.address-location-section .address-box-item .email a:hover {
  color: #F68121;
}

.investor-menu {
  position: fixed;
  right: 0;
  top: 42%;
  z-index: 1;
}

.investor-menu a {
  background: #F68121;
  display: block;
  padding: 10px 12px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  line-height: 1.2;
}

.investor-menu a svg {
  margin-bottom: 7px;
}

.investor-menu a span {
  display: block;
}

.secondary-menu.investor-menu-list {
  opacity: 0;
  z-index: -9;
}

.secondary-menu.investor-menu-list .menu-item a {
  font-size: 18px;
}

.secondary-menu.investor-menu-list .has-child > a:after {
  content: "";
  background-image: url(/images/down-chevron.svg);
  width: 14px;
  height: 6px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: 6px;
  top: -1px;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.secondary-menu.investor-menu-list .submenu {
  display: none;
}

.secondary-menu.investor-menu-list .submenu-item {
  margin: 8px 0;
}

.secondary-menu.investor-menu-list .submenu-item a {
  font-size: 16px;
  color: #525868;
  font-weight: normal;
}

.secondary-menu.investor-menu-list .child-menu-show .submenu {
  display: block;
}

.secondary-menu.investor-menu-list .child-menu-show.has-child a:after {
  transform: rotate(180deg);
}

.investor-menu-show {
  position: relative;
}

.investor-menu-show:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 99;
}

.investor-menu-show .secondary-menu.investor-menu-list {
  opacity: 1;
  z-index: 99;
}

@media only screen and (max-width: 600px) {
  .investor-menu-show .secondary-menu {
    width: 100%;
  }

  .investor-menu-show .secondary-menu .close-icon {
    margin-right: 0;
  }
}

.corporate-governance:before,
.corporate-governance:after {
  position: fixed;
}

.corporate-governance .title-section .title {
  text-align: center;
  margin-bottom: 40px;
}

.corporate-governance .title-section p {
  font-size: 18px;
}

.corporate-governance div#corporate-accordion {
  margin-top: 50px;
}

.shareholders-section .title-section .title span {
  display: block;
}

.investor-relation-section-inner {
  padding-bottom: 30px;
}

.investor-relation-section .title-section .title {
  margin-bottom: 70px;
}

.investor-relation-section .section-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.investor-relation-section .section-box .box {
  width: 50%;
}

.investor-relation-section .section-box .box .title {
  margin-bottom: 15px;
}

.investor-relation-section .section1 {
  margin-bottom: 90px;
}

.investor-relation-section .section1 .box .btn {
  border-radius: 0;
  letter-spacing: 1px;
  padding: 12px 30px;
  font-weight: 400;
}

.investor-relation-section .section1 .left-section {
  padding-right: 50px;
  padding-top: 40px;
}

.investor-relation-section .section1 .left-section .title {
  font-size: 38px;
}

.investor-relation-section .section1 .left-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

.investor-relation-section .section1 .right-section-inner {
  background-image: url(/images/market-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

.investor-relation-section .section1 .right-section .title {
  font-size: 30px;
  color: #fff;
}

.investor-relation-section .section1 .right-section .stock-list {
  margin-top: 60px;
}

.investor-relation-section .section1 .right-section .stock-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 50px;
}

.investor-relation-section .section1 .right-section .stock-list-item:last-child {
  margin-bottom: 0;
}

.investor-relation-section .section1 .right-section .stock-list-item .name {
  font-size: 24px;
  font-weight: 500;
}

.investor-relation-section .section2 .box-inner,
.investor-relation-section .section3 .box-inner {
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.investor-relation-section .section2 .box .top-section,
.investor-relation-section .section3 .box .top-section {
  margin-bottom: 90px;
}

.investor-relation-section .section2 .box .title,
.investor-relation-section .section3 .box .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 10px;
}

.investor-relation-section .section2 .box .title span,
.investor-relation-section .section3 .box .title span {
  display: block;
}

.investor-relation-section .section2 .box .date,
.investor-relation-section .section3 .box .date {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  border-radius: 3px;
}

.investor-relation-section .section2 .box .pdf-btn,
.investor-relation-section .section3 .box .pdf-btn {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
}

.investor-relation-section .section2 .box .pdf-btn span,
.investor-relation-section .section3 .box .pdf-btn span {
  display: inline-block;
  margin-right: 5px;
}

.investor-relation-section .section2 .box .pdf-btn svg,
.investor-relation-section .section3 .box .pdf-btn svg {
  height: 12px;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.investor-relation-section .section2 .box .pdf-btn:hover svg,
.investor-relation-section .section3 .box .pdf-btn:hover svg {
  transform: translateX(10px);
}

.investor-relation-section .section2 .box1,
.investor-relation-section .section3 .box1 {
  padding-right: 50px;
}

.investor-relation-section .section2 .box1 .box-inner,
.investor-relation-section .section3 .box1 .box-inner {
  background-image: url(/images/corporate-presentation-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.investor-relation-section .section2 .box1 .title,
.investor-relation-section .section3 .box1 .title,
.investor-relation-section .section2 .box1 .pdf-btn,
.investor-relation-section .section3 .box1 .pdf-btn {
  color: #fff;
}

.investor-relation-section .section2 .box1 .date,
.investor-relation-section .section3 .box1 .date {
  background: #fff;
  color: #0255A8;
}

.investor-relation-section .section2 .box2 .box-inner,
.investor-relation-section .section3 .box2 .box-inner {
  background-color: #f5f5f5;
  background-image: url(/images/annual_report.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.investor-relation-section .section2 .box2 .title,
.investor-relation-section .section3 .box2 .title {
  color: #202430;
}

.investor-relation-section .section2 .box2 .date,
.investor-relation-section .section3 .box2 .date {
  background: #0255A8;
  color: #fff;
}

.investor-relation-section .section2 .box2 .pdf-btn,
.investor-relation-section .section3 .box2 .pdf-btn {
  color: #0255A8;
  font-weight: 500;
}

.investor-relation-section .section2 .box2 .pdf-btn svg .a,
.investor-relation-section .section3 .box2 .pdf-btn svg .a {
  fill: #0255A8;
}

.investor-relation-section .section3 {
  margin-top: 40px;
}

.investor-relation-section .section3 .box {
  width: 32%;
}

.investor-relation-section .section3 .box .title {
  color: #fff;
}

.investor-relation-section .section3 .box .pdf-btn {
  color: #fff;
}

.investor-relation-section .section3 .box-inner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.investor-relation-section .section3 .box1 {
  padding-right: 0;
}

.investor-relation-section .section3 .box1 .box-inner {
  background-image: url(/images/ipo_prospectus_image.png);
}

.investor-relation-section .section3 .box2 .box-inner {
  background-image: url(/images/investor_presentation_image.png);
  background-size: cover;
}

.investor-relation-section .section3 .box2 .box-inner svg .a {
  fill: #fff;
}

.investor-relation-section .section3 .box2 .title {
  color: #fff;
}

.investor-relation-section .section3 .box3 .box-inner {
  background-image: url(/images/press_release.png);
}

.financial-details-section .title {
  text-align: center;
  margin-bottom: 50px;
}

.financial-details-section .nav-pills {
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
}

.financial-details-section .nav-pills .nav-item {
  margin: 0 20px;
}

.financial-details-section .nav-pills .nav-item .nav-link {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #757575;
  padding: 10px 0;
  position: relative;
}

.financial-details-section .nav-pills .nav-item .nav-link.active {
  background: transparent;
  border-radius: 0;
  color: #0255A8;
}

.financial-details-section .nav-pills .nav-item .nav-link.active:after {
  background: #0255A8;
}

.financial-details-section .nav-pills .nav-item .nav-link:after {
  content: "";
  width: 100%;
  height: 3px;
  background: transparent;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.financial-details-section .nav-pills.child-pills {
  border-bottom: none;
}

.financial-details-section .nav-pills.child-pills .nav-item {
  margin: 0 10px;
}

.financial-details-section .nav-pills.child-pills .nav-item .nav-link {
  padding: 12px 18px;
  background: #f1f4f5;
}

.financial-details-section .nav-pills.child-pills .nav-item .nav-link:after {
  display: none;
}

.financial-details-section .nav-pills.child-pills .nav-item .nav-link.active {
  background: #0255A8;
  color: #fff;
}

.financial-details-section .tab-content {
  margin-top: 70px;
}

.financial-details-section .tab-content .download-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.financial-details-section .tab-content .download-links li {
  width: 40%;
  margin-right: 80px;
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
}

.financial-details-section .tab-content .download-links li:after {
  content: "";
  background-image: url(/images/download.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: -1;
}

.financial-details-section .tab-content .download-links li a {
  color: #202430;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding-right: 70px;
}

.financial-details-section .tab-content .download-links li a span {
  display: block;
}

.exchange-announcements-section {
  background: #0255A8;
}

.exchange-announcements-section .title {
  color: #fff;
  text-align: center;
}

.exchange-announcements-section .content-box {
  margin-top: 70px;
}

.exchange-announcements-section .content-box-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exchange-announcements-section .content-box .box {
  width: 48%;
}

.exchange-announcements-section .content-box .box .title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.exchange-announcements-section .content-box .box-inner {
  background: #fff;
  padding: 30px;
  height: 385px;
  overflow-y: scroll;
}

.exchange-announcements-section .content-box .box .box-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.exchange-announcements-section .content-box .box .box-item .image {
  width: 40px;
}

.exchange-announcements-section .content-box .box .box-item .content {
  max-width: 88%;
}

.exchange-announcements-section .content-box .box .box-item .text {
  font-size: 18px;
  color: #202430;
}

.exchange-announcements-section .content-box .box .box-item .date {
  display: inline-block;
  margin-bottom: 7px;
  color: #525868;
}

.exchange-announcements-section .content-box ::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #eaeaea;
}

.exchange-announcements-section .content-box ::-webkit-scrollbar {
  width: 6px;
  background-color: #eaeaea;
}

.exchange-announcements-section .content-box ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #757575;
}

.ir-section4 {
  background: #f1f4f5;
}

.ir-section4 .section-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ir-section4 .section-box .box {
  width: 32%;
}

.ir-section4 .section-box .box-inner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ir-section4 .section-box .box .top-section {
  margin-bottom: 90px;
}

.ir-section4 .section-box .box .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 10px;
  color: #fff;
}

.ir-section4 .section-box .box .title span {
  display: block;
}

.ir-section4 .section-box .box .pdf-btn {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #fff;
}

.ir-section4 .section-box .box .pdf-btn span {
  display: inline-block;
  margin-right: 5px;
}

.ir-section4 .section-box .box .pdf-btn svg {
  height: 12px;
  transition: 0.3s all;
  -ms-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.ir-section4 .section-box .box .pdf-btn:hover svg {
  transform: translateX(10px);
}

.ir-section4 .section-box .box1 {
  padding-right: 0;
}

.ir-section4 .section-box .box1 .box-inner {
  background-image: url(/images/corporate_presentation.png);
}

.ir-section4 .section-box .box2 .box-inner {
  background-image: url(/images/shareholders_agm.png);
}

.ir-section4 .section-box .box3 .box-inner {
  background-image: url(/images/corporate_actions.png);
}

.investor-faqs-section-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.investor-faqs-section .title {
  text-align: center;
  margin-bottom: 30px;
}

.investor-faqs-section .accordion .accordion-header button {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  max-width: 90%;
}

.investor-faqs-section .accordion .accordion-header button:after {
  position: absolute;
  right: -70px;
  top: 17px;
  content: "\F055";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-image: none;
}

.investor-faqs-section .accordion .accordion-button:not(.collapsed)::after {
  transform: rotate(0);
  content: "\F056";
}

.investor-faqs-section .accordion .accordion-body {
  font-size: 20px;
  max-width: 90%;
}

.investor-faqs-section .accordion .accordion-body p:last-child {
  margin-bottom: 0;
}

.irc-section {
  padding: 0 100px 70px;
}

.irc-section-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.irc-section .title {
  text-align: center;
  margin-bottom: 60px;
}

.irc-section .box-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.irc-section .box-section .box {
  width: 48%;
  border-right: 1px solid #eaeaea;
}

.irc-section .box-section .box:last-child {
  border-right: none;
}

.irc-section .box-section .box-inner {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.irc-section .box-section .box-inner:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.irc-section .box-section .title {
  text-align: left;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.irc-section .box-section .title span {
  display: block;
}

.irc-section .box-section .box-item {
  margin-bottom: 15px;
}

.irc-section .box-section .box-item .name {
  font-size: 20px;
  color: #202430;
  line-height: 1.5;
  margin-bottom: 0;
}

.irc-section .box-section .box-item .name2 {
  margin-bottom: 5px;
}

.irc-section .box-section .box-item span {
  display: block;
}

.irc-section .box-section .box-item .text {
  display: block;
  line-height: 1.8;
  color: #202430;
}

.irc-section .box-section .box-item .text.text2 {
  margin-top: 10px;
  font-weight: 500;
}

.irc-section .box-section .box-item a {
  color: #0255A8;
}

.irc-section .box-section .box-item a:hover {
  color: #F68121;
}

.media-section1 {
  padding-bottom: 70px;
}

.media-section1-inner {
  padding-bottom: 0;
}

.media-section1 .title {
  font-size: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.media-section1 .nav-pills {
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
}

.media-section1 .nav-pills .nav-item {
  margin: 0 20px;
}

.media-section1 .nav-pills .nav-item .nav-link {
  font-size: 18px;
  font-weight: 600;
  color: #757575;
  padding: 10px 0;
  position: relative;
}

.media-section1 .nav-pills .nav-item .nav-link.active {
  background: transparent;
  border-radius: 0;
  color: #0255A8;
}

.media-section1 .nav-pills .nav-item .nav-link.active:after {
  background: #0255A8;
}

.media-section1 .nav-pills .nav-item .nav-link:after {
  content: "";
  width: 100%;
  height: 3px;
  background: transparent;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.media-section1 .tab-content {
  margin-top: 70px;
}

.media-section1 .tab-content .tab-pane-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.media-section1 .tab-content .tab-pane-inner .media-item {
  flex: 1 1 25%;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.media-section1 .tab-content .tab-pane-inner a {
  font-size: 16px;
  color: #202430;
  font-weight: 500;
  height: 140px;
}

.media-section1 .tab-content .tab-pane-inner p:last-child {
  margin-bottom: 0;
}

.media-section1 .tab-content .awards-tab-content {
  text-align: center;
}

.media-section1 .tab-content .awards-tab-content a {
  height: auto;
}

.media-section1 .tab-content .awards-tab-content .title {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 10px;
}

.media-section1 .tab-content .awards-tab-content .image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

.media-section1 .tab-content .awards-tab-content p {
  font-weight: 400;
  color: #525868;
  line-height: 1.4;
}

.discover-identify-banner {
  width: 100%;
  background-image: url(/images/background_image-discover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: 48%;
  position: relative;
}

.discover-identify-banner .content-box {
  transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  -webkit-transform: translate(-50%, -25%);
  text-align: center;
  width: 60%;
}

.discover-identify-banner .content-box .title {
  margin-bottom: 25px;
}

.discover-identify-banner .content-box p {
  font-weight: 200;
  margin-bottom: 120px;
}

.discover-identify-banner .content-box .subtitle {
  font-size: 18px;
  margin-bottom: 25px;
}

.discover-identify-banner .content-box .btn {
  width: 65px;
  height: 65px;
  background: #fff;
  padding: 0;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  position: relative;
}

.discover-identify-banner .content-box .btn:before {
  content: "";
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 4px double rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.discover-identify-banner .content-box .btn img {
  margin: 0;
}

.image-text-section {
  width: 100%;
}

.image-text-section-inner {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.6;
}

.image-text-section-inner .box {
  width: 50%;
  padding: 100px;
}

.image-text-section-inner .box2 {
  background-image: url(/images/discover-box1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-text-section-inner .head-icon {
  margin-bottom: 20px;
}

.image-text-section-inner .title {
  color: #202430;
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.4;
}

.image-text-section-inner .list {
  margin-top: 30px;
  margin-bottom: 40px;
}

.image-text-section-inner .list .list-item {
  margin-bottom: 30px;
  display: flex;
}

.image-text-section-inner .list .icon {
  width: 65px;
  display: inline-block;
  margin-right: 15px;
}

.image-text-section-inner .list .icon img {
  width: 100%;
}

.image-text-section-inner .btn {
  background: #146AB2;
  border-radius: 0;
  font-weight: 400;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 1200px) {
  .awards-section,
  .ad-campaigns-section,
  .ad-solution-section,
  .growth-section,
  .stats-section-inner,
  .about-section1-inner,
  .product-milestone-inner,
  .our-business-section,
  .management-section,
  .investor-section,
  .affle-life-section-inner,
  .culture-section,
  .contact-section1-inner,
  .address-location-section,
  .corporate-governance-inner,
  .investor-relation-section-inner,
  .financial-details-section,
  .exchange-announcements-section-inner,
  .ir-section4,
  .investor-faqs-section,
  .media-section1-inner,
  .what-we-do,
  .newsletter-section,
  .footer-section,
  .header-section,
  .irc-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-section .content-box {
    width: 48%;
  }

  .stats-section-inner .title-section,
  .ad-solution-section .title-section {
    padding-left: 0;
    padding-right: 0;
  }

  .corporate-governance-inner .accordion .accordion-header button {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1099px) {
  .banner-section .content-box {
    width: 100%;
    padding: 0 15px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .accordion .accordion-header button,
  .about-section1 .title,
  .what-we-do .title,
  .product-milestone .title,
  .our-business-section .title,
  .management-section .title,
  .management-section .title-text,
  .investor-section .title,
  .investor-section .title-text,
  .affle-life-section .content-box .title,
  .culture-section .title-section .title,
  .join-team-section .title,
  .contact-section1 .title,
  .address-location-section .title-section .title,
  .corporate-governance .title-section .title,
  .investor-relation-section .title-section .title,
  .investor-relation-section .section-box .box .title,
  .financial-details-section .title,
  .exchange-announcements-section .title,
  .investor-faqs-section .title,
  .irc-section .title,
  .media-section1 .title,
  .banner-section .content-box .title,
  .about-section1 .stats-box .stats-item .numbers {
    font-size: 42px;
  }

  .ad-solution-section .box-section .box .list-style .list-item {
    font-size: 17px;
  }

  .ad-solution-section .title-section p,
  .banner-section .content-box p,
  .growth-section p,
  .stats-section-inner .title-section p {
    font-size: 15px;
  }

  .stats-section .stats-box .title,
  .management-section .title-text,
  .investor-section .title-text,
  .investor-relation-section .section1 .left-section .title,
  .investor-relation-section .section-box .box .title,
  .ir-section4 .section-box .box .title {
    font-size: 26px;
  }

  .footer-section .footer-box-inner {
    padding-left: 20px;
  }

  .footer-section .footer-box3 .footer-box-inner {
    padding-left: 0;
  }

  .about-section1 .stats-box .stats-item .numbers {
    margin-bottom: 0;
  }

  .contact-section1-inner .form-section {
    width: 65%;
    padding-right: 50px;
  }

  .contact-section1-inner .address-section {
    width: 35%;
    padding-left: 0;
  }

  .contact-section1-inner .address-section-inner {
    padding: 30px;
  }

  .accordion .accordion-body ul {
    justify-content: space-between;
  }

  .accordion .accordion-body ul li {
    width: 45%;
    margin-right: 0;
  }

  .media-section1 .tab-content .tab-pane-inner {
    gap: 30px;
  }
}

@media only screen and (max-width: 1023px) {
  .newsletter-section-inner {
    padding: 70px 50px;
  }

  .header-section .navigation {
    display: none;
  }

  .popup-content iframe {
    max-width: 90%;
    height: 400px;
  }
}

@media only screen and (max-width: 991px) {
  .banner-section .content-box .title,
  .ad-solution-section .title-section .title,
  .growth-section .title-section .title,
  .stats-section-inner .title-section .title,
  .testimonial-section .title,
  .awards-section .title {
    font-size: 36px;
  }

  .ad-solution-section .box-section .box .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .stats-section .stats-box {
    margin-bottom: 70px;
  }

  .stats-section .stats-box:last-child {
    margin-bottom: 0;
  }

  .footer-section .footer-section-inner {
    flex-wrap: wrap;
  }

  .footer-section .footer-section-inner .footer-box1 {
    width: 100%;
    text-align: center;
  }

  .footer-section .footer-section-inner .footer-box1 p {
    font-size: 14px;
  }

  .footer-section .footer-section-inner .footer-box4 {
    width: 15%;
  }

  .footer-section .footer-section-social {
    margin-top: 40px;
    text-align: center;
  }

  .ad-solution-section .box-section .box .list-style .list-item {
    font-size: 14px;
  }

  .ad-solution-section .box-section .box .list-style .list-item img {
    margin-left: 5px;
    width: 20px;
  }

  .ad-solution-section .box-section .box-inner {
    padding: 50% 5% 6%;
  }

  .newsletter-section-inner {
    background-position: left;
  }

  .management-section .members-list-item {
    width: 50%;
    padding: 12px 12px 20px;
  }

  .our-business-section .advertisers-box {
    flex-direction: column;
  }

  .our-business-section .advertisers-box .text-section {
    width: 100%;
    text-align: center;
  }

  .our-business-section .advertisers-box .image-section {
    width: 100%;
  }

  .our-business-section .advertisers-box .image-section .logo-list {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact-section1:before {
    height: 72%;
    opacity: 0.5;
  }

  .contact-section1-inner {
    padding-bottom: 70px;
  }

  .contact-section1-inner .form-section {
    width: 100%;
    padding-right: 15px;
  }

  .contact-section1-inner .form-section .title {
    margin-bottom: 30px;
  }

  .contact-section1-inner .address-section {
    width: 100%;
    padding-left: 0;
    margin-top: 60px;
  }

  .contact-section1-inner .address-section-inner .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-section1-inner .address-section-inner .details-inner {
    width: 48%;
  }

  .address-location-section {
    padding-top: 70px;
  }

  .address-location-section .address-box-item {
    width: 50%;
    padding: 15px 15px 30px;
  }

  .address-location-section .address-box-item .address span {
    display: inline;
  }

  .accordion .accordion-body ul li {
    width: 100%;
    margin-right: 0;
  }

  .accordion .accordion-body ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  .accordion .accordion-body ul li:after {
    width: 25px;
    height: 25px;
  }

  .investor-relation-section .section-box {
    flex-direction: column;
  }

  .investor-relation-section .section-box .box {
    width: 100%;
  }

  .investor-relation-section .section-box .left-section {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .investor-relation-section .section2 .box-inner,
  .investor-relation-section .section3 .box-inner {
    height: 270px;
  }

  .investor-relation-section .section2 .box1,
  .investor-relation-section .section3 .box1,
  .investor-relation-section .section2 .box,
  .investor-relation-section .section3 .box {
    padding-right: 0;
    margin-bottom: 40px;
  }

  .investor-relation-section .section2 .box1 .title span,
  .investor-relation-section .section3 .box1 .title span,
  .investor-relation-section .section2 .box .title span,
  .investor-relation-section .section3 .box .title span {
    display: inline-block;
  }

  .financial-details-section .tab-content .download-links li {
    width: 100%;
    margin-right: 0;
  }

  .exchange-announcements-section .content-box-section {
    flex-direction: column;
  }

  .exchange-announcements-section .content-box-section .box {
    width: 100%;
    margin-bottom: 70px;
  }

  .exchange-announcements-section .content-box-section .box:last-child {
    margin-bottom: 0;
  }

  .ir-section4 .section-box,
  .irc-section .box-section {
    flex-direction: column;
  }

  .ir-section4 .section-box .box,
  .irc-section .box-section .box {
    width: 100%;
    margin-bottom: 40px;
  }

  .ir-section4 .section-box .box .title span,
  .irc-section .box-section .box .title span {
    display: inline-block;
  }

  .ir-section4 .section-box .box-inner,
  .irc-section .box-section .box-inner {
    height: 270px;
  }

  .irc-section .box-section .box-inner {
    height: auto;
  }

  .irc-section .box-section .box-item span {
    display: inline-block;
  }

  .media-section1 .tab-content .tab-pane-inner .media-item {
    flex: 1 1 45%;
  }

  .management-section .modal-lg {
    max-width: 95%;
  }
}

@media only screen and (max-width: 767px) {
  .ad-solution-section .box-section {
    flex-direction: column;
  }

  .ad-solution-section .box-section .box {
    width: 100%;
  }

  .ad-solution-section .box-section .box.box-1 {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .ad-solution-section .box-section .box-inner {
    padding: 10% 6%;
  }

  .growth-section .content-box-inner {
    text-align: center;
  }

  .growth-section .content-box-inner:nth-child(even) {
    flex-flow: column;
    margin-top: 50px;
  }

  .growth-section .content-box-inner:nth-child(even) .content-box-image {
    text-align: center;
  }

  .newsletter-section-inner {
    padding: 40px;
  }

  .newsletter-section .title {
    font-size: 26px;
  }

  .newsletter-section .newsletter-form {
    flex-direction: column;
    margin-top: 20px;
  }

  .newsletter-section .newsletter-form .form-control {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 10px 15px;
  }

  .footer-section .footer-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-section .footer-box-inner {
    padding-left: 0;
  }

  .footer-section .footer-box:last-child {
    margin-bottom: 0;
  }

  .footer-section .footer-box:first-child {
    margin-bottom: 0;
  }

  .footer-section .footer-section-inner .footer-box4 {
    width: 100%;
  }

  .footer-section .footer-section-bottom {
    flex-direction: column;
  }

  .footer-section .footer-section-bottom .copyright {
    margin-top: 5px;
  }

  .about-section1 .title br {
    display: none;
  }

  .culture-section .box-section .box {
    width: 100%;
    padding: 25px;
  }

  .join-team-section-inner {
    padding: 70px 15px;
  }

  .join-team-section-inner:before {
    display: none;
  }

  .contact-section1-inner .address-section-inner .details-inner {
    width: 100%;
  }

  .corporate-governance:before,
  .corporate-governance:after {
    display: none;
  }

  .corporate-governance-inner .accordion .accordion-body ul li {
    margin-bottom: 20px;
  }

  .corporate-governance-inner .accordion .accordion-body ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .corporate-governance-inner .accordion .accordion-body ul li a {
    font-size: 16px;
  }

  .corporate-governance-inner .accordion .accordion-item {
    padding: 10px 0;
  }

  .corporate-governance-inner .accordion .accordion-header button {
    font-size: 20px;
  }

  .media-section1 .tab-content .tab-pane-inner .media-item {
    flex: 1 1 100%;
  }

  .media-section1 .tab-content .tab-pane-inner .media-item a {
    height: auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-section {
    background-position: right;
    padding-bottom: 100%;
  }

  .accordion .accordion-header button,
  .about-section1 .title,
  .what-we-do .title,
  .product-milestone .title,
  .our-business-section .title,
  .management-section .title,
  .management-section .title-text,
  .investor-section .title,
  .investor-section .title-text,
  .affle-life-section .content-box .title,
  .culture-section .title-section .title,
  .join-team-section .title,
  .contact-section1 .title,
  .address-location-section .title-section .title,
  .corporate-governance .title-section .title,
  .investor-relation-section .title-section .title,
  .investor-relation-section .section-box .box .title,
  .financial-details-section .title,
  .exchange-announcements-section .title,
  .investor-faqs-section .title,
  .irc-section .title,
  .media-section1 .title {
    font-size: 26px;
  }

  .about-section1 .stats-box {
    flex-direction: column;
  }

  .about-section1 .stats-box .stats-item {
    margin-right: 0;
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 2px solid #f1f4f5;
    padding-bottom: 20px;
  }

  .about-section1 .stats-box .stats-item:after {
    display: none;
  }

  .about-section1 .stats-box .stats-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .product-milestone-inner {
    height: 700px;
  }

  .product-milestone-inner:before {
    display: none;
  }

  .management-section .members-list-item {
    width: 100%;
  }

  .management-section .title-text {
    margin: 15px 0;
  }

  .our-business-section .advertisers-box .text-section .title {
    font-size: 20px;
  }

  .our-business-section .advertisers-box .image-section .logo-item {
    width: 100%;
  }

  .popup-content iframe {
    max-width: 90%;
    height: 220px;
  }

  .affle-life-section .image-box-inner .play-btn {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .address-location-section .address-box-item {
    width: 100%;
    padding: 15px 15px 30px;
  }

  .address-location-section .address-box-item .image img {
    width: 100%;
  }

  .contact-section1-inner .form-section .contact-form-inner .form-group {
    width: 100%;
  }

  .investor-faqs-section .accordion .accordion-header button:after {
    right: -40px;
  }

  .management-section .modal-content {
    margin-top: 0;
    margin-bottom: 0;
  }

  .management-section .modal-content-inner {
    flex-direction: column;
  }

  .management-section .modal-content-inner .image-box {
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  .management-section .modal-content-inner .image-box .name {
    margin-top: 5px;
  }

  .management-section .modal-content-inner .image-box .position {
    margin-bottom: 10px;
  }

  .management-section .modal-content-inner .content {
    padding: 20px;
  }

  .management-section .modal-content .close-btn {
    position: absolute;
    right: 20px;
    top: -10px;
  }
}

@media only screen and (max-width: 424px) {
  .investor-relation-section .section1 .right-section-inner {
    padding: 20px;
  }

  .investor-relation-section .section1 .right-section-inner .btn {
    width: 100%;
  }

  .investor-relation-section .section1 .right-section-inner .stock-list-item {
    flex-direction: column;
  }
}

