$primary_color: #0255A8;
$primary_color_light: #146AB2;
$primary_color_dark: #052F53;
$secondary_color: #F68121;
$black: #202430;
$black_dark: #000;
$black_light: #525868;
$white: #fff;
$color7: #757575;
$white_light: #f6f6f6;
$light_color: #f1f4f5;
$border_color: #eaeaea;
$border_light: rgba(255,255,255,.1);
$border_dark: rgba(0,0,0,.1);