@media only screen and (max-width: 1023px){
    .newsletter-section-inner {
        padding: 70px 50px;
    }
    .header-section .navigation{
        display: none;
    }
    .popup-content{
        iframe {
            max-width: 90%;
            height: 400px;
        }
    }
}