@media only screen and (max-width: 767px){
    .ad-solution-section .box-section {
        flex-direction: column;
        .box {
            width: 100%;
            &.box-1{
                margin-bottom: 30px;
                margin-right: 0;
            }
            &-inner{
                padding: 10% 6%;
            }
        }
    }
    .growth-section .content-box-inner{
        text-align: center;
        &:nth-child(even) {
            flex-flow: column;
            margin-top: 50px;
            .content-box-image{
                text-align: center;
            }
        }
    }
    .newsletter-section {
        &-inner{
            padding: 40px;
        }
        .title{
            font-size: 26px;
        }
        .newsletter-form{
            flex-direction: column;
            margin-top: 20px;
            .form-control {
                margin-right: 0;
                max-width: 100%;
                margin-bottom: 15px;
                padding: 10px 15px;
            }
        }
    }
    .footer-section{
        .footer-box {
            width: 100%;
            margin-bottom: 20px;
            &-inner{
                padding-left: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &:first-child{
                margin-bottom: 0;
            }
        }
        .footer-section-inner .footer-box4{
            width: 100%;
        }
        .footer-section-bottom {
            flex-direction: column;
            .copyright{
                margin-top: 5px;
            }
        }
    }
    .about-section1 .title br{
        display: none;
    }
    .culture-section .box-section .box {
        width: 100%;
        padding: 25px;
    }
    .join-team-section-inner{
        padding: 70px 15px;
        &:before{
            display: none;
        }
    }
    .contact-section1-inner .address-section-inner .details-inner {
        width: 100%;
    }
    .corporate-governance:before, .corporate-governance:after{
        display: none;
    }
    .corporate-governance-inner .accordion {
        .accordion-body ul li {
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
                padding-bottom: 0;
            }
            a{
                font-size: 16px;
            }
        }
        .accordion-item{
            padding: 10px 0;
        }
    }
    .corporate-governance-inner .accordion .accordion-header button {
        font-size: 20px;
    }
    .media-section1 .tab-content .tab-pane-inner .media-item {
        flex: 1 1 100%;
        a {
            height: auto;
            margin-bottom: 20px;
        }
    }
}