@media only screen and (max-width: 991px){
    .banner-section .content-box .title, .ad-solution-section .title-section .title, .growth-section .title-section .title, .stats-section-inner .title-section .title, .testimonial-section .title, .awards-section .title {
        font-size: 36px;
    }
    .ad-solution-section .box-section .box .title {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .stats-section .stats-box{
        margin-bottom: 70px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .footer-section{
        .footer-section-inner {
            flex-wrap: wrap;
            .footer-box1{
                width: 100%;
                text-align: center;
                p{
                    font-size: 14px;
                }
            }
            .footer-box4 {
                width: 15%;
            }
        }
        .footer-section-social {
            margin-top: 40px;
            text-align: center;
        }
    }
    .ad-solution-section{
        .box-section{
            .box .list-style .list-item{
                font-size: 14px;
                img {
                    margin-left: 5px;
                    width: 20px;
                }
            }
            .box-inner{
                padding: 50% 5% 6%;
            }
        }
    }
    .newsletter-section-inner {
        background-position: left;
    }
    .management-section .members-list-item {
        width: 50%;
        padding: 12px 12px 20px;
    }
    .our-business-section .advertisers-box {
        flex-direction: column;
        .text-section{
            width: 100%;
            text-align: center;
        }
        .image-section{
            width: 100%;
            .logo-list {
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }
    .contact-section1{
        &:before {
            height: 72%;
            opacity: .5;
        }
        &-inner{
            padding-bottom: 70px;
            .form-section {
                width: 100%;
                padding-right: 15px;
                .title{
                    margin-bottom: 30px;
                }
            }
            .address-section {
                width: 100%;
                padding-left: 0;
                margin-top: 60px;
                &-inner{
                    .details{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        &-inner{
                            width: 48%;
                        }
                    }
                }
            }
        }
    }
    .address-location-section {
        padding-top: 70px;
        .address-box-item {
            width: 50%;
            padding: 15px 15px 30px;
            .address span{
                display: inline;
            }
        }
    }
    .accordion .accordion-body ul li {
        width: 100%;
        margin-right: 0;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
        &:after {
            width: 25px;
            height: 25px;
        }
    }
    .investor-relation-section {
        .section-box{
            flex-direction: column;
            .box {
                width: 100%;
            }
            .left-section {
                padding-right: 0;
                padding-top: 0;
                padding-bottom: 40px;
            }
        }
        .section2 {
            .box-inner{
                height: 270px;
            }
            .box1,.box {
                padding-right: 0;
                margin-bottom: 40px;
                .title span{
                    display: inline-block;
                }
            }
        }
    }
    .financial-details-section .tab-content .download-links li {
        width: 100%;
        margin-right: 0;
    }
    .exchange-announcements-section .content-box-section {
        flex-direction: column;
        .box{
            width: 100%;
            margin-bottom: 70px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .ir-section4 .section-box,.irc-section .box-section{
        flex-direction: column;
        .box{
            width: 100%;
            margin-bottom: 40px;
            .title span {
                display: inline-block;
            }
            &-inner{
                height: 270px;
            }
        }
    }
    .irc-section .box-section .box-inner{
        height: auto;
    }
    .irc-section .box-section .box-item span{
        display: inline-block;
    }
    .media-section1 .tab-content .tab-pane-inner .media-item {
        flex: 1 1 45%;
    }
    .management-section .modal-lg {
        max-width: 95%;
    }
}