@media only screen and (max-width: 600px){
    .banner-section {
        background-position: right;
        padding-bottom: 100%;
    }
    %title_style_1 {
        font-size: 26px;
    }
    .about-section1 .stats-box {
        flex-direction: column;
        .stats-item{
            margin-right: 0;
            margin-bottom: 25px;
            text-align: center;
            border-bottom: 2px solid $light_color;
            padding-bottom: 20px;
            &:after{
                display: none;
            }
            &:last-child{
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    .product-milestone-inner{
        height: 700px;
        &:before{
            display: none;
        }
    }
    .management-section{
        .members-list-item {
            width: 100%;
        }
        .title-text{
            margin: 15px 0;
        }
    }
    .our-business-section .advertisers-box{
        .text-section .title {
            font-size: 20px;
        }
        .image-section .logo-item {
            width: 100%;
        }
    }
    .popup-content iframe {
        max-width: 90%;
        height: 220px;
    }
    .affle-life-section .image-box-inner .play-btn{
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .address-location-section .address-box-item {
        width: 100%;
        padding: 15px 15px 30px;
        .image img{
            width: 100%;
        }
    }
    .contact-section1-inner .form-section .contact-form-inner .form-group {
        width: 100%;
    }
    .investor-faqs-section .accordion .accordion-header button:after {
        right: -40px;
    }
    .management-section .modal-content{
        margin-top: 0;
        margin-bottom: 0;
        &-inner {
            flex-direction: column;
            .image-box {
                padding: 20px;
                align-items: center;
                justify-content: center;
                .name {
                    margin-top: 5px;
                }
                .position {
                    margin-bottom: 10px;
                }
            }
            .content {
                padding: 20px;
            }
        }
        .close-btn {
            position: absolute;
            right: 20px;
            top: -10px;
        }        
    }
}