@media only screen and (max-width: 424px){
    .investor-relation-section .section1 .right-section-inner {
        padding: 20px;
        .btn{
            width: 100%;
        }
        .stock-list-item {
            flex-direction: column;
        }
    }
}