@media only screen and (max-width: 1200px){
	%padding_style_1,.what-we-do,.newsletter-section,.footer-section,.header-section,.irc-section{
		padding-left: 15px;
		padding-right: 15px;
	}
	.banner-section .content-box{
		width: 48%;
	}
	.stats-section-inner .title-section,.ad-solution-section .title-section{
		padding-left: 0;
		padding-right: 0;
	}
	.corporate-governance-inner .accordion .accordion-header button {
		font-size: 22px;
	}
}